.content-section{
  position: relative;
  z-index: 5;
  margin-bottom: 36px;
  &__item{
    margin-bottom: 10px;
    .cans{
      position: relative;
      img{
        width: 200px;
        height: 400px;
        object-fit: contain;
        &:first-child{
          position: absolute;
          top: -50px;
          left: -50px;
          transform: rotate(30deg) translateX(-100%);
          filter: drop-shadow(0px 194px 144px rgba(0, 0, 0, 0.06));

        }
      }
    }
    h2{
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .btn{
      margin-bottom: 10px;
    }
  }
  &__thumbnail{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    &--yellow-bg{
      background-image: url("../media/content/wallpapers/yellow-figures-bg.png");
    }
    &--blue-bg{
      background-image: url("../media/content/wallpapers/blue-figures-bg.png");
    }
  }
  .section-title{
    position: relative;
    h2{
      margin-top: 50px;
      margin-bottom: 50px;
      @include media-breakpoint-up(md){
        margin-top: 100px;
        margin-bottom: 66.77px;
      }

      color: #fff;
      text-align: center;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05), 0px 16px 16px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.05);
    }
    &__background{
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      text-align: center;
      img{
        max-width: none;
      }
    }
  }
  &__mark{
    bottom: 10px;
    left: 10px;
    position: absolute;
    max-width: 90px;
    @include media-breakpoint-up(sm){
      max-width: 120px;
    }
    @include media-breakpoint-up(md){
      &--1{
        bottom: 40px;
        right: 30px;
        left: auto;
      }
      &--2{
        bottom: 279px;
        right: 100px;
        left: auto;
      }
      &--3{
        top: 105px;
        right: 140px;
        left: auto;
      }
    }
  }
  .section-subtitle{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
  }
  .block-content{
    margin-bottom: 20px;
  }
  .spider-type-section{
    margin-top: 6px;
    .block-thumbnail{
      position: relative;
      text-align: center;
      width: 460px;
      flex: 0 0 460px;
      margin-top: 60px;
      img{
        max-height: 100%;
      }
      .waves-effect{
        top: 50%;
        transform: translateY(-50%);
      }
    }
    img{
      max-height: 50vh;
      @include media-breakpoint-up(md){
        max-height: none;
      }
    }

    &__elem{
      margin-top: 30px;
    }
    &__title {}
    &__img {
      height: 67px;
    }
    &__col{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .waves-effect{
    }
  }

  @include media-breakpoint-down(lg) {
    .spider-type-section .block-thumbnail {
      flex: 0 0 300px;
      width: 300px;
    }
  }

  @include media-breakpoint-down(md) {
    .spider-type-section .block-thumbnail {
      flex: 0 0 460px;
      width: 460px;
      margin: auto;
    }
  }

  @include media-breakpoint-down(sm) {
    .spider-type-section .block-thumbnail {
      flex: 0 0 100%;
      width: 100%;
    }
  }


}
