mixin b-scheme()

  section.section-default.content-section
    .container
      .ui-title-wrap.ui-title-wrap_orange
        h2.ui-title Схема приема

      .section-subtitle
        p Перед применением тщательно встряхнуть банку и размешать одну столовую ложку порошка с горкой в стакане воды, сока, другого любимого напитка.
      .nav.nav-tabs.ui-nav-tabs.ui-nav-tabs_second(role="tablist")
        a.ui-nav-tabs__link.active(href="#scheme-tab-1" data-toggle="tab") Очищение организма
        a.ui-nav-tabs__link(href="#scheme-tab-2" data-toggle="tab") Похудение
        a.ui-nav-tabs__link(href="#scheme-tab-3" data-toggle="tab") Похмелье

      .tab-content
        .tab-pane.show.fade.active#scheme-tab-1
          .b-scheme.row.no-gutters
            .b-scheme__item.col-xl
              .b-scheme__figure
                .b-scheme__img
                  img.img-scale(src="assets/media/content/scheme/1.png", alt="фото")

              .b-scheme__info Для курса в 7-10 дней понадобится
                span.fw-medium  две банки
                |
                |  Исцеликса

            .b-scheme__item.col-xl
              .b-scheme__figure
                .b-scheme__img
                  img.img-scale(src="assets/media/content/scheme/2.png", alt="фото")

              .b-scheme__info Перед применением тщательно
                span.fw-medium  встряхните
                |
                |  закрытую банку

            .b-scheme__item.col-xl
              .b-scheme__figure
                .b-scheme__img
                  img.img-scale(src="assets/media/content/scheme/3.png", alt="фото")

              .b-scheme__info
                span.fw-medium  Размешайте
                |
                |   столовую ложку “с горкой” в стакане воды или сока

            .b-scheme__item.col-xl
              .b-scheme__figure
                .b-scheme__img
                  img.img-scale(src="assets/media/content/scheme/4.png", alt="фото")

              .b-scheme__info Принимайте
                span.fw-medium  два раза в день,
                |
                |  за час до или после еды

            .b-scheme__item.col-xl
              .b-scheme__figure
                .b-scheme__img
                  img.img-scale(src="assets/media/content/scheme/5.png", alt="фото")

              .b-scheme__info Продолжительность приема
                span.fw-medium  от 7 до 10 дней.
                |
                |  Курс можно повторить через
                span.fw-medium   2-3 недели

        .tab-pane.show.fade#scheme-tab-2
          .b-scheme.row.no-gutters
            .b-scheme__item.col-xl
              .b-scheme__figure
                .b-scheme__img
                  img.img-scale(src="assets/media/content/scheme/1.png", alt="фото")

              .b-scheme__info Для курса в 7-10 дней понадобится
                span.fw-medium  две банки
                |
                |  Исцеликса

            .b-scheme__item.col-xl
              .b-scheme__figure
                .b-scheme__img
                  img.img-scale(src="assets/media/content/scheme/2.png", alt="фото")

              .b-scheme__info Перед применением тщательно
                span.fw-medium  встряхните
                |
                |  закрытую банку

            .b-scheme__item.col-xl
              .b-scheme__figure
                .b-scheme__img
                  img.img-scale(src="assets/media/content/scheme/3.png", alt="фото")

              .b-scheme__info
                span.fw-medium  Размешайте
                |
                |   столовую ложку “с горкой” в стакане воды или сока

            .b-scheme__item.col-xl
              .b-scheme__figure
                .b-scheme__img
                  img.img-scale(src="assets/media/content/scheme/4.png", alt="фото")

              .b-scheme__info Принимайте
                span.fw-medium  два раза в день,
                |
                |  за час до или после еды

            .b-scheme__item.col-xl
              .b-scheme__figure
                .b-scheme__img
                  img.img-scale(src="assets/media/content/scheme/5.png", alt="фото")

              .b-scheme__info Продолжительность приема
                span.fw-medium  от 7 до 10 дней.
                |
                |  Курс можно повторить через
                span.fw-medium   2-3 недели

        .tab-pane.show.fade#scheme-tab-3
          .b-scheme.row.no-gutters
            .b-scheme__item.col-xl
              .b-scheme__figure
                .b-scheme__img
                  img.img-scale(src="assets/media/content/scheme/1-3.png", alt="фото")

              .b-scheme__info Для профилактики или лечения похмелья понадобится
                span.fw-medium  одна банка
                |
                |  Исцеликса

            .b-scheme__item.col-xl
              .b-scheme__figure
                .b-scheme__img
                  img.img-scale(src="assets/media/content/scheme/2.png", alt="фото")

              .b-scheme__info Перед применением тщательно
                span.fw-medium  встряхните
                |
                |  закрытую банку

            .b-scheme__item.col-xl
              .b-scheme__figure
                .b-scheme__img
                  img.img-scale(src="assets/media/content/scheme/3.png", alt="фото")

              .b-scheme__info
                span.fw-medium  Размешайте
                |
                |   столовую ложку “с горкой” в стакане воды или сока

            .b-scheme__item.col-xl
              .b-scheme__figure
                .b-scheme__img
                  img.img-scale(src="assets/media/content/scheme/4-3.png", alt="фото")

              .b-scheme__info Для
                span.fw-medium  профилактики два раза:
                |
                |  перед застольем и перед сном.

            .b-scheme__item.col-xl
              .b-scheme__figure
                .b-scheme__img
                  img.img-scale(src="assets/media/content/scheme/5-3.png", alt="фото")

              .b-scheme__info Для
                span.fw-medium  избавления три-четыре раза
                |
                |  каждые два часа.


  // end .b-scheme
