.b-scheme {
  margin: 35px 10px 60px 0;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  &__item {
    text-align: center;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 115px;
      right: -45px;
      width: 79px;
      height: 79px;
      background: url("../media/content/scheme/arrow.png") no-repeat;
    }
    &:nth-child(even) {
      padding-top: 110px;
      &:after {
        transform: scale(1, -1);
      }
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }
  &__figure {
    position: relative;
    width: 188px;
    height: 188px;
    display: flex;
    margin: 0 auto 14px;
    box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 23px #fffbed, inset 0 0 0 38px #ffe380, inset 0 0 0 40px #FFD74A;
    border-radius: 50%;
    background-color: #FFD74A;
    border: 1px solid #FCE27C;
  }
  &__info {}
  &__img {
    position: relative;
    z-index: 1;
    margin: auto;
  }


  @include media-breakpoint-down(lg) {
    &__item {
      text-align: left;
      position: relative;
      min-height: 200px;
      width: 550px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      &:after {
        right: auto;
        left: 0;
        top: auto;
        bottom: -20px;
        transform: scale(-1, 1) rotate(45deg);
      }
      &:nth-child(even) {
        padding-top: 0;
        &:after {
          transform: scale(-1, 1) rotate(45deg);
        }
      }
    }
    &__figure {
      position: absolute;
      left: 0;
      top: 0;
    }
    &__info {
      padding-left: 240px;
      max-width: 680px;
    }
  }

  @include media-breakpoint-up(md) {
    margin-right: 0;
    margin-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    margin-right: 0;
    &__item {
      display: block;
      min-height: 0;
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
      &:after {
        bottom: -70px;
      }
    }
    &__figure {
      position: relative;
    }
    &__info {
      padding-left: 0;
      max-width: 100%;
    }
  }
}
