mixin head(data)
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  title Исцеликс / #{data.title}
  meta(content="", name="description")
  meta(content="", name="keywords")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(content="telephone=no", name="format-detection")
  //- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers
  meta(name="HandheldFriendly", content="true")

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,700,900&display=swap&subset=cyrillic" rel="stylesheet">

  link(rel="stylesheet" href="assets/css/main.css")


  if data.indexPage
    link(rel="stylesheet" href="assets/css/index.css")

  link(rel="icon" type="image/x-icon" href="favicon.ico")

  <!--[if lt IE 9 ]>
  <script src="%=static=%js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar">
  <![endif]-->




