.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  padding-top: 77px;
  padding-left: 0;
  list-style: none;
  font-size: 18px;
}

.breadcrumb-item {
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  a {
    color: #000;
    border-bottom: 1px solid #00A2DF;
    &:hover {
      color: #00A2DF;
    }
  }
  + .breadcrumb-item {
    padding-left: 7px;

    &::before {
      display: inline-block; // Suppress underlining of the separator in modern browsers
      padding-right: 3px;
      color: #000;
      content: '>';
    }
  }

  // IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
  // without `<ul>`s. The `::before` pseudo-element generates an element
  // *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
  //
  // To trick IE into suppressing the underline, we give the pseudo-element an
  // underline and then immediately remove it.
  + .breadcrumb-item:hover::before {
    text-decoration: underline;
  }
  // stylelint-disable-next-line no-duplicate-selectors
  + .breadcrumb-item:hover::before {
    text-decoration: none;
  }

  &.active {
    color: $breadcrumb-active-color;
  }
}
