.pagination {
  display: flex;
  margin-top: 12px;
  margin-left: -35px;
  @include list-unstyled();
  @include border-radius();

  @include media-breakpoint-down(md) {
    margin-left: 0;
  }
}

.page-link {
  position: relative;
  display: block;
  padding: 0;
  margin-left: -$pagination-border-width;
  color: #000;
  font-size: 26px;
  width: 65px;
  height: 65px;
  text-align: center;
  border: none;
  line-height: 65px;
  border-radius: 50%;

  &:hover {
    z-index: 2;
    color: #00A2DF;
    text-decoration: none;
  }

  &:focus {
    z-index: 2;
    outline: $pagination-focus-outline;
    box-shadow: $pagination-focus-box-shadow;
  }


  @include media-breakpoint-down(sm) {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
  }
}

.page-item {
  &:first-child {
    .page-link {
      margin-left: 0;
    }
  }
  &:last-child {
    .page-link {
    }
  }

  &.active .page-link {
    z-index: 1;
    background: linear-gradient(90deg, #00B1EB 0%, #007AC1 49.47%, #0059A6 99.99%);
    color: #fff;
    font-weight: bold;
  }

  &.active .page-link {
    pointer-events: none;
  }

  &.disabled .page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;
  }
}


//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}
