.bio-group {
  &__container {
    background: url("../media/content/wallpapers/bio.png") no-repeat center;
    background-size: contain;
    padding: 37px 30px;
  }
  &__text {
    text-align: center;
  }
  &__inner {
    padding: 0 100px;
  }

  @include media-breakpoint-up(md) {
    &__container {
      padding: 106px 68px;
      margin-bottom: -20px;
    }
  }

  @include media-breakpoint-down(lg) {
    &__inner {
      padding: 0 0;
    }
    &__container {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    &__inner {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
