mixin principle()

  <section class="content-section">
    <div class="container">
      .ui-title-wrap.ui-title-wrap_orange
        h2.ui-title Принцип действия
      <div class="d-block d-md-none">
        <img src="assets/media/content/wallpapers/bio.jpg" alt="фото">
      </div>
      <div class="section-subtitle">Исцеликс - это комплекс очищения и ускоренного восстановления, который состоит из трех компонентов, и каждый усиливает действие друга друга: сорбент улучшает биодоступность и действие активных частиц, а активные частицы ускоряют выведение сорбентом вредных веществ.</div>
      <div class="bio-group">
        <div class="bio-group__container d-none d-md-block">
          <div class="row">
            <div class="col-md-6 text-center d-none d-md-block">
              <img src="assets/media/content/objectives/biology.png" alt="фото">
            </div>
            <div class="col-md-6 text-center">
              <img src="assets/media/content/objectives/biocomps.png" alt="фото">
            </div>
          </div>
        </div>

        .bio-group__inner
          <div class="row">
            <div class="bio-group__text col-md-6">
              <div class="bio-group__thumbnail d-md-none">
                <img src="assets/media/content/objectives/biology.png" alt="фото">
              </div>Сорбент, диоксид кремния, обладает наибольшей сорбцией по токсинам, среди всех сорбентов! Он обволакивает вредные вещества и выводит их из организма.
            </div>
            <div class="bio-group__text col-md-6">
              <div class="bio-group__thumbnail d-md-none">
                <img src="assets/media/content/objectives/biocomps.png" alt="фото">
              </div>Активные частицы являются центральным звеном цикла Кребса и увеличивают эффективность метаболизма для быстрой детоксикации и восстановления организма.
            </div>
          </div>
      </div>
    </div>
  </section>

  // end .principle
