.b-team {
  margin-top: 33px;
  margin-left: -16px;
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    + .b-team__item {
      margin-left: -7px;
    }
  }
  &__foto {
    width: 188px;
    height: 188px;
    margin-right: 16px;
    padding: 12px;
    border: 1px solid #FCE27C;
    border-radius: 50%;
    text-align: center;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  @include media-breakpoint-down(lg) {
    margin-left: 0;
  }

  @include media-breakpoint-down(sm) {
    &__item {
      display: block;
      &:not(:last-child) {
        margin-bottom: 38px;
      }
    }
    &__foto {
      margin-bottom: 10px;
    }
  }
}

.b-team-list {
  margin-bottom: 0;
  &__item {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
  &__info {
    flex: 0 0 auto;
    line-height: 1.5;
  }
  &__figure {
    flex: 0 0 46px;
  }
  &__number {
    font-weight: 500;
    font-size: 36px;
    line-height: 1;
    background-image: linear-gradient(90deg, #00B1EB 0%, #007AC1 49.47%, #0059A6 99.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
