mixin b-contacts()

  section.b-contacts.content-section
    .container
      .ui-title-wrap.ui-title-wrap_blue
        h2.ui-title Задать вопрос

      .b-contacts__inner
        .b-contacts__main
          .b-contacts__item
            .b-contacts__ic.btn.theme-gradient-bg.btn-primary
              != pugHelpers.Icon.call(locals, {iconName: 'mail', className: 'ic', iconWidth: '26', iconHeight: '16'})
            .b-contacts__item-inner
              a.b-contacts__link.b-contacts__link_mod-a(href="mailto:info@isceliks.ru") info
                i @
                | isceliks.ru
          .b-contacts__item
            .b-contacts__ic.btn.theme-gradient-bg.btn-default
              != pugHelpers.Icon.call(locals, {iconName: 'phone', className: 'ic', iconWidth: '20', iconHeight: '19'})
            .b-contacts__item-inner
              span.b-contacts__info Бесплатный звонок по России
              a.b-contacts__link(href="tel:+88002016494") 8 800 201 64 94

        .b-contacts__btns
          a.b-contacts__btn.b-contacts__btn_pink.d-none.d-xl-inline-block(href="viber://chat?number=+88002016494")
            != pugHelpers.Icon.call(locals, {iconName: 'viber', className: 'ic mr-4', iconWidth: '32', iconHeight: '30'})
            | Viber
          a.b-contacts__btn.b-contacts__btn_pink.d-xl-none(href="viber://add?number=88002016494")
            != pugHelpers.Icon.call(locals, {iconName: 'viber', className: 'ic', iconWidth: '32', iconHeight: '30'})
            | Viber
          a.b-contacts__btn.b-contacts__btn_blue(href="tg://resolve?domain=nikname")
            != pugHelpers.Icon.call(locals, {iconName: 'telegram2', className: 'ic', iconWidth: '37', iconHeight: '29'})
            | Telegram
          a.b-contacts__btn.b-contacts__btn_green(href="https://wa.me/88002016494")
            != pugHelpers.Icon.call(locals, {iconName: 'whats', className: 'ic', iconWidth: '31', iconHeight: '29'})
            | WhatsApp

  // end .b-contacts

