.b-contacts {
  &__main {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 48px;
    padding-right: 10px;
  }
  &__inner {
    width: 730px;
    margin: 8px auto 97px;
  }
  &__item {
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__link {
    color: #00A2DF;
    font-size: 35px;
    margin-bottom: 11px;
    display: inline-block;
    &_mod-a {
      font-family: Raleway;
    }
  }
  &__ic {
    width: 65px;
    height: 65px;
    flex: 0 0 65px;
    text-align: center;
    border-radius: 50%;
    margin-right: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__info {
    color: #000;
    display: block;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    display: inline-block;
    width: 212px;
    height: 63px;
    padding-left: 23px;
    font-size: 18px;
    color: #FFF;
    line-height: 65px;
    border-radius: 63px;
    box-shadow: 0px 1px 1px rgba(152, 38, 181, 0.05), 0px 2px 2px rgba(152, 38, 181, 0.05), 0px 4px 4px rgba(152, 38, 181, 0.05), 0px 8px 8px rgba(152, 38, 181, 0.05), 0px 16px 16px rgba(152, 38, 181, 0.05), 0px 32px 32px rgba(152, 38, 181, 0.05);
    &_pink {
      background-color: #AA5ABE;
      &:active {
        background-color: rgba(170, 90, 190, .7);
      }
    }
    &_green {
      background-color: #00C232;
      &:active {
        background-color: rgba(0, 194, 50, .7);
      }
    }
    &_blue {
      background-color: #35AEE2;
      &:active {
        background-color: rgba(53, 174, 226, .7);
      }
    }
    .ic {
      margin-right: 12px;
    }
  }

  @include media-breakpoint-down(md) {
    &__inner {
      width: 100%;
    }

    &__link {
      font-size: 33px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__main {
      display: block;
      margin-bottom: 38px;
    }
    &__inner {
      margin-bottom: 37px;
    }
    &__btns {
      display: block;
    }
    &__btn {
      display: block;
      margin: 0 auto 10px;
    }
    &__link {
      font-size: 25px;
      margin-bottom: 0;
    }
    &__item {
      align-items: center;
      margin-bottom: 10px;
    }
    &__info {
      margin-bottom: 0;
    }
  }
}
