.b-faq {
  margin-top: 14px;
  &__card {
    border: none;
    margin-bottom: 10px;
  }
  &__header {}
  &__trigger {
    padding: 0;
    background-color: transparent;
    border: none;
    color: #00A2DF;
    font-family: Raleway;
    font-size: 26px;
    line-height: 130%;
    text-align: left;
    &:focus {
      outline: none;
    }
  }
  &__body {
    padding-top: 15px;
    padding-bottom: 2px;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
  }
}
