mixin b-faq()
  .b-faq
    .accordion#accordionFaq
      .b-faq__card.card
        .b-faq__header
          button.b-faq__trigger(type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1") Что нам необходимо для качественного выступления?

        #collapse1.collapse.show(data-parent="#accordionFaq")
          .b-faq__body Для выступления нам необходимо соблюдение бытового райдера: питание, гримерка, беспрепятственный въезд к месту проведения мероприятия. И технического райдера в котором написано все необходимое звуковое оборудование для выступления группы.

      .b-faq__card.card
        .b-faq__header
          button.b-faq__trigger(type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2") Можете ли мы решить вопрос технического райдера сами?

        #collapse2.collapse(data-parent="#accordionFaq")
          .b-faq__body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dignissimos incidunt doloribus, ea sunt ex, illum nobis! Itaque laudantium ex modi dolorum, dolore magni illum ab, eius voluptas dicta doloremque.

      .b-faq__card.card
        .b-faq__header
          button.b-faq__trigger(type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3") Можем ли мы помочь вам организовать мероприятие?

        #collapse3.collapse(data-parent="#accordionFaq")
          .b-faq__body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dignissimos incidunt doloribus, ea sunt ex, illum nobis! Itaque laudantium ex modi dolorum, dolore magni illum ab, eius voluptas dicta doloremque.

      .b-faq__card.card
        .b-faq__header
          button.b-faq__trigger(type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4") Есть ли вас партнерские программы для организаторов мероприятий?

        #collapse4.collapse(data-parent="#accordionFaq")
          .b-faq__body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dignissimos incidunt doloribus, ea sunt ex, illum nobis! Itaque laudantium ex modi dolorum, dolore magni illum ab, eius voluptas dicta doloremque.

      .b-faq__card.card
        .b-faq__header
          button.b-faq__trigger(type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5") Можете ли мы решить вопрос технического райдера сами?

        #collapse5.collapse(data-parent="#accordionFaq")
          .b-faq__body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dignissimos incidunt doloribus, ea sunt ex, illum nobis! Itaque laudantium ex modi dolorum, dolore magni illum ab, eius voluptas dicta doloremque.

      .b-faq__card.card
        .b-faq__header
          button.b-faq__trigger(type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6") Можем ли мы помочь вам организовать мероприятие?

        #collapse6.collapse(data-parent="#accordionFaq")
          .b-faq__body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dignissimos incidunt doloribus, ea sunt ex, illum nobis! Itaque laudantium ex modi dolorum, dolore magni illum ab, eius voluptas dicta doloremque.


  // end .b-faq
