mixin advanced-links()

  .container
    .advanced-links(class!=attributes.class)
      <div class="row no-gutters">
        <div class="col-4 d-flex advanced-links__container parent-1">
          <a href="/" class="advanced-links__item child-1">
            != pugHelpers.Icon.call(locals, {iconName: 'list-1', className: 'ic', iconWidth: '30', iconHeight: '30'})
            <div class="d-none d-md-block">Об Исцеликсе</div>
            <span class="btn btn-default theme-btn theme-radius theme-large theme-shadow">
              <span class="fw-semibold">
              <span class="d-md-inline d-none">Узнать подробнее</span>
              <span class="d-inline d-md-none">Подробнее</span>
              </span>
            </span>
          </a>
        </div>

        <div class="col-4 d-flex advanced-links__container parent-2">
          <div class="advanced-info__rounds d-none d-md-block">
            != pugHelpers.Icon.call(locals, {iconName: 'advanced-rounds', className: 'ic', iconWidth: '320', iconHeight: '214'})
          </div>
          <a href="/"  class="advanced-links__item child-2">
            != pugHelpers.Icon.call(locals, {iconName: 'basket1', className: 'ic', iconWidth: '36', iconHeight: '30'})
            <div class="d-none d-md-block">Купить онлайн</div>
            <span class="btn btn-default theme-btn theme-radius theme-large theme-shadow">
              <span class="fw-semibold">Купить</span>
            </span>
          </a>
        </div>

        <div class="col-4 d-flex advanced-links__container parent-3">
          <a href="/" class="advanced-links__item child-3">
            != pugHelpers.Icon.call(locals, {iconName: 'schema', className: 'ic', iconWidth: '55', iconHeight: '30'})
            <div class="d-none d-md-block">Инструкция и схема приема</div>
            <span class="btn btn-default theme-btn theme-radius theme-large theme-shadow">
              <span class="fw-semibold">
                <span class="d-md-inline d-none">Читать инструкцию</span>
                <span class="d-inline d-md-none">Инструкция</span>
              </span>
            </span>
          </a>
        </div>
      </div>

  // end .advanced-links


mixin advanced-links-2()

  .container
    .advanced-links.advanced-links_no-fig(class!=attributes.class)
      <div class="row no-gutters">
        <div class="col-4 d-flex advanced-links__container parent-1">
          <a href="/" class="advanced-links__item child-1">
            != pugHelpers.Icon.call(locals, {iconName: 'call', className: 'ic', iconWidth: '34', iconHeight: '34'})
            <div class="d-none d-md-block">Консультация</div>
            <span class="btn btn-default theme-btn theme-radius theme-large theme-shadow">
              <span class="fw-semibold">
              <span class="d-md-inline d-none">Задать вопрос</span>
              <span class="d-inline d-md-none">Подробнее</span>
              </span>
            </span>
          </a>
        </div>

        <div class="col-4 d-flex advanced-links__container parent-2">
          <div class="advanced-info__rounds d-none d-md-block">
            != pugHelpers.Icon.call(locals, {iconName: 'advanced-rounds', className: 'ic', iconWidth: '320', iconHeight: '214'})
          </div>
          <a href="/"  class="advanced-links__item child-2">
            != pugHelpers.Icon.call(locals, {iconName: 'basket1', className: 'ic', iconWidth: '36', iconHeight: '30'})
            <div class="d-none d-md-block">Купить онлайн</div>
            <span class="btn btn-default theme-btn theme-radius theme-large theme-shadow">
              <span class="fw-semibold">Купить</span>
            </span>
          </a>
        </div>

        <div class="col-4 d-flex advanced-links__container parent-3">
          <a href="/" class="advanced-links__item child-3">
            != pugHelpers.Icon.call(locals, {iconName: 'schema', className: 'ic', iconWidth: '55', iconHeight: '30'})
            <div class="d-none d-md-block">Инструкция и схема приема</div>
            <span class="btn btn-default theme-btn theme-radius theme-large theme-shadow">
              <span class="fw-semibold">
                <span class="d-md-inline d-none">Читать инструкцию</span>
                <span class="d-inline d-md-none">Инструкция</span>
              </span>
            </span>
          </a>
        </div>
      </div>

  // end .advanced-links

