
.advanced-links{

  margin: 22px -25px 0px;
  color: #fff;
  overflow: hidden;
  background: linear-gradient(90deg, #00B1EB 0%, #007AC1 49.47%, #0059A6 99.99%);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05), 0px 16px 16px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  position: relative;

  &::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 3;
    bottom: -55%;
    background-image: url(../media/content/wallpapers/bonus-top.png);
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
  }
  &__item{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 33px 0 38px;
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    height: 100%;
    transition: all .3s;
    &::before{
      content: '';
      opacity: 0;
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      background: #fff;
      z-index: 0;
      transition: all .3s;
      display: block;
    }
    &:hover{
      div{
        color:  #000000;
      }
      svg{
        fill: #007AC1;
      }
      &:before{
        opacity: 1;
      }
      .btn{
        color: #fff;
        background: linear-gradient(90deg, #FFCC00 0%, #F7A500 37.12%, #EF7900 79.5%, #EC6608 100.13%);
      }
    }
    svg{
      position: relative;
      margin-bottom: 18px;
      fill: #fff;
    }
    div{
      margin-bottom: 18px;
      text-align: center;
      position: relative;
    }
    .btn{
      pointer-events: none;
      position: relative;
      margin-top: auto;
      font-size: 11px;
      text-transform: uppercase;
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 0;
      @include media-breakpoint-up(md) {
        min-width: 205px;
        font-size: 14px;
        text-transform: initial;
      }
      line-height: 180%;
    }
  }
  &--mobile{
    box-shadow: 0px -1px 2px 0px rgba(#333, 0.3);
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    left: 0;
    z-index: 333;
    border-radius: 0;
    transform: translateY(100%);
    transition: 0.3s;
    @include media-breakpoint-up(md){
      display: none;

    }
    &.show{
      transform: translateY(0);
    }
    .advanced-links{
      &__item{
        padding: 5px 0 7px;
        svg{
          margin-bottom: 10px;
          transform: scale(0.7);
        }
      }
    }
    &::after{
      display: none;
    }
  }

  &__container{
    &.parent-1{
      @include media-breakpoint-up(lg) {
      }
    }
    &.parent-2{
      .advanced-info__rounds{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        text-align: center;
        pointer-events: none;
        color: #006d9d;
        z-index: 2;
        .ic {
          fill: none;
        }
      }
      &:hover{
        .advanced-info__rounds{
          color: #F0F0F0;
          svg{
            max-width: 100%;
          }
        }
      }
    }
    &.parent-3{
      @include media-breakpoint-up(lg) {
      }
    }
  }

  &_no-fig {
    &:after {
      content: none;
    }
  }

  @include media-breakpoint-up(xl) {
    border-radius: 180px;
  }

  @include media-breakpoint-down(lg) {
    margin-left: -15px;
    margin-right: -15px;
    &--mobile{
      margin-left: 0;
      margin-right: 0;
    }
  }
}
