.b-istruction {
  font-size: 18px;
  color: #000;
  padding-bottom: 30px;
  &__block {
    margin-bottom: 13px;
    padding-left: 60px;
  }
  &__name {
    font-family: Raleway;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 3px;
  }
  &__info {
    line-height: 1.5;
  }
  &__note {
    font-size: 12px;
    padding-bottom: 10px;
  }

  .ui-title-wrap {
    margin-bottom: 30px;
  }

  .table {
    width: auto;
  }

  @include media-breakpoint-down(lg) {
    &__block {
      padding-left: 0;
    }
  }
}
