mixin b-istruction()

  section.b-istruction.section-default.mt-5
    .container
      .ui-title-wrap.ui-title-wrap_blue
        h2.ui-title Инструкция

      .row
        .col-lg-11
          .b-istruction__block
            .b-istruction__name Действующие вещества:
            .b-istruction__info
              p
                span.fw-semibold Сорбент
                |
                |  - диоксид кремния коллоидный. Сорбционная площадь более 300 м2/грамм.  Обладает наибольшей сорбцией по токсинам, среди сорбентов.
              p
                span.fw-semibold Янтарная
                |
                |  и лимонная кислоты. Обладают выраженным метаболическим и адаптационным эффектом.

          .b-istruction__block
            .b-istruction__name Состав:
            .b-istruction__info.mt-2
              .table-responsive
                table.table.table-bordered
                  thead.thead-light
                    tr
                      th Компонент
                      th Массовая доля в суточной дозе (8 г), мг
                      th.text-center % от адекватного<br>уровня потребления
                  tbody
                    tr
                      td Диоксид кремния коллиодный
                      td 6 000
                      td(rowspan="3") 100**
                    tr
                      td Янтарная кислота
                      td 200
                    tr
                      td Лимонная кислота
                      td 600

              .b-istruction__note
                p * Адекватный уровень потребления, «Единые санитарно-эпидемиологические и гигиенические требования к товарам, подлежащим санитарно-эпидемиологическому надзору (контролю)» Таможенного союза ЕврАзЭС.
                p ** не превышает верхний допустимый уровень потребления

          .b-istruction__block
            .b-istruction__name Фармакодинамика:
            .b-istruction__info Порошок

          .b-istruction__block
            .b-istruction__name Фармакокинетика:
            .b-istruction__info Порошок

          .b-istruction__block
            .b-istruction__name Показанию к применению:
            .b-istruction__info
              ul.ui-list
                li Очищение организма для жителей мегаполиса или неблагоприятных экологических райнов;
                li Акне и структурные ухудшения кожи, в следствии пищевой аллергии и “неправильного” питания;
                li Преодоление диетического “плато” и комфортный переход на снижение веса;
                li Профилактика и избавление похмельного синдрома;
                li Повышение адаптационных способностей организма во время стресса и физической работы;

          .b-istruction__block
            .b-istruction__name Рекомендации по применению:
            .b-istruction__info Взрослым, предварительно тщательно встряхнув банку или пакетик, размешать в стакане воды (100 мл). Принимать по одной столовой ложке (4 г) или одному пакетику (4 г) 2 раза в день за час до или через час после еды. Продолжительность приема – 7-10 дней. При необходимости прием можно повторить через 2-3 недели.

          .b-istruction__block
            .b-istruction__name Противопоказания:
            .b-istruction__info Индивидуальная непереносимость продукта, беременность, кормление грудью, язвенная болезнь желудка и двенадцатиперстной кишки, кровотечения из желудочно-кишечного тракта, атония кишечника.

          .b-istruction__block
            .b-istruction__name Применение при беремености и кормлении грудью:
            .b-istruction__info Желательна консультация со специалистом

          .b-istruction__block
            .b-istruction__name Форма выпуска:
            .b-istruction__info Порошок в банках по 8 г, 12 г, 24 г, 48 г и в пакетиках по 4 г, 8 г, 12 г, помещенных в картонную коробку.

          .b-istruction__block
            .b-istruction__name Внешний вид:
            .b-istruction__info Порошок

          .b-istruction__block
            .b-istruction__name Условия хранения:
            .b-istruction__info Хранить в сухом, защищенном от попадания прямых солнечных лучей, недоступном для детей месте при температуре не выше +25 °С относительной влажности воздуха не более 75 %.

          .b-istruction__block
            .b-istruction__name Срок годности:
            .b-istruction__info 3 года.

          .b-istruction__block
            .b-istruction__name Изготовитель:
            .b-istruction__info ООО «ФАРМАКОР ПРОДАКШН» 197375, г. Санкт-Петербург, ул. Репищева, д.14, корпус 7.

          .b-istruction__block
            .b-istruction__name По заказу:
            .b-istruction__info ООО «Живесса Фарм», 456970, Челябинская обл, г. Нязепетровск, ул. Щербакова, д.3, эт./пом. 1/6.



  // end .b-istruction
