@font-face {
    font-family: 'Raleway';
    font-display: swap;
    src: local('Raleway Light'), local('Raleway-Light'), url('../fonts/raleway/ralewaylight.woff2') format('woff2'), url('../fonts/raleway/ralewaylight.woff') format('woff'), url('../fonts/raleway/ralewaylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    font-display: swap;
    src: local('Raleway Regular'), local('Raleway-Regular'), url('../fonts/raleway/ralewayregular.woff2') format('woff2'), url('../fonts/raleway/ralewayregular.woff') format('woff'), url('../fonts/raleway/ralewayregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    font-display: swap;
    src: local('Raleway Italic'), local('Raleway-Italic'), url('../fonts/raleway/ralewayitalic.woff2') format('woff2'), url('../fonts/raleway/ralewayitalic.woff') format('woff'), url('../fonts/raleway/ralewayitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Raleway';
    font-display: swap;
    src: local('Raleway Medium'), local('Raleway-Medium'), url('../fonts/raleway/ralewaymedium.woff2') format('woff2'), url('../fonts/raleway/ralewaymedium.woff') format('woff'), url('../fonts/raleway/ralewaymedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    font-display: swap;
    src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'), url('../fonts/raleway/ralewaymediumitalic.woff2') format('woff2'), url('../fonts/raleway/ralewaymediumitalic.woff') format('woff'), url('../fonts/raleway/ralewaymediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Raleway';
    font-display: swap;
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url('../fonts/raleway/ralewaysemibold.woff2') format('woff2'), url('../fonts/raleway/ralewaysemibold.woff') format('woff'), url('../fonts/raleway/ralewaysemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    font-display: swap;
    src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'), url('../fonts/raleway/ralewaysemibolditalic.woff2') format('woff2'), url('../fonts/raleway/ralewaysemibolditalic.woff') format('woff'), url('../fonts/raleway/ralewaysemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Raleway';
    font-display: swap;
    src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/raleway/ralewaybold.woff2') format('woff2'), url('../fonts/raleway/ralewaybold.woff') format('woff'), url('../fonts/raleway/ralewaybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    font-display: swap;
    src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'), url('../fonts/raleway/ralewaybolditalic.woff2') format('woff2'), url('../fonts/raleway/ralewaybolditalic.woff') format('woff'), url('../fonts/raleway/ralewaybolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
