body{
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 150%;
  min-width: 320px;
  overflow-x: hidden;
}
h1, h2, h3, h4{
  font-family: 'Raleway', sans-serif;
}
.fw-medium{
  font-weight: 500;
}
.fw-semibold{
  font-weight: 600;
}
p{
  margin-bottom: 0;
}
img{
  max-width: 100%;
}

h1, h2{
  font-weight: 500;
  font-size: 30px;
  line-height: 95.4%;
  @include media-breakpoint-up(md){
    font-size: 40px;
  }
}
h4{
  font-weight: normal;
  font-size: 26px;
  line-height: 130%;
}

p svg{
  display: inline-block;
  vertical-align: top;
}

a {
  transition: all .3s;
  text-decoration: none;
  color: inherit;
  &:hover{
    text-decoration: none;
    color: inherit;
  }
}


.waves-effect{
  display: block;
  position: absolute;
  padding-bottom: 100%;
  width: 100%;
  z-index: 0;
  &__block-1, &__block-4, &__block-2, &__block-3{
    position: absolute;
    border-radius: 50%;
    animation: pulse 3s infinite;
  }
  &__block-4{
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background: #ffd74b;
    animation-delay: 0.2s;
  }
  &__block-3{
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background: #ffe37f;
    animation-delay: 0.4s;

  }
  &__block-2{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fffced;
    animation-delay: 0.6s;

  }
  &__block-1{
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
    border: 1px solid #ffd74b;
    animation-delay: 0.8s;
  }
  &--blue{
    .waves-effect{
      &__block-4{
        background: #4cd2ff;
      }
      &__block-3{
        background: #99e6ff;
      }
      &__block-2{
        background: #daf6ff;
      }
      &__block-1{
        border-color: #4cd2ff;
      }
    }

  }
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @keyframes pulse{
    0%{
      opacity: 0;
      transform: scale(0.8);
    }
    20%{
      opacity: 1;
      transform: scale(1);
    }
    100%{
      opacity: 0;
      transform: scale(0.9);
    }
  }
}

.block-thumbnail__container{
  max-width: 500px;
  margin: 0 auto;
}

.bg-radius-bottom{
  background-image: url("../media/content/wallpapers/bg-radius-bottom.jpg");
  background-position-x: center;
  background-position-y: 100%;
  background-repeat: no-repeat;
  &_up-null {
    padding-top: 30px;
  }
  &_up-main {
    padding-top: 140px;

    @include media-breakpoint-down(sm) {
      padding-top: 80px;
    }
  }
  &_mod-a {
    padding-top: 50px;
    .section-main {
      margin-bottom: 20px;
      padding-bottom: 40px;
    }
    .section-main__figure {
      margin-top: -110px;
    }
  }

  @include media-breakpoint-down(md) {
    &_mod-a {
      .section-main__figure {
        margin-top: 30px;
      }
    }
  }
}

.bg-radius-top{
  background-image: url("../media/content/wallpapers/bg-radius-top.jpg");
  background-position-x: center;
  background-position-y: 0%;
  background-repeat: no-repeat;
}
.steps{
  padding-top: 30px;
  padding-bottom: 40px;
  h2{
    margin-bottom: 30px;
  }
  @include media-breakpoint-up(lg){
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__item{
    display: flex;
    padding: 10px 0 10px 35px;
    margin-right: 88px;
    width: max-content;
    position: relative;
    &:last-child{
      margin-right: 0;
    }
    &:not(:last-child){
      &::before{
        content: '';
        display: block;
        position: absolute;
        width: 60px;
        height: 100%;
        top: 0;
        left: calc(100% + 12px);
        background-image: url("../media/content/objectives/Arrow.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &__text{
    width: max-content;
  }
  &__number{
    position: absolute;
    top: 10px;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: #BADFEC;
    &--orange{
      background-color: orange;
    }
  }
}



/******* New styles *******/

.l-wrap {
  padding-top: 77px;
  &_page-inner {
  }
  &_page-user {
    padding-top: 30px;
  }
}

.ui-title-wrap {
  text-align: center;
  &_blue {
    .ui-title {
      background-image: url("../media/content/wallpapers/h2-bg-blue.png");
    }
  }
  &_orange {
    .ui-title {
      background-image: url("../media/content/wallpapers/h2-bg-orange.png");
    }
  }

  @include media-breakpoint-down(md) {
    &_blue,
    &_orange {
      .ui-title {
        // background-image: none;
      }
    }

  }
}

.ui-title {
  display: inline-block;
  min-width: 714px;
  min-height: 134px;
  margin-bottom: 20px;
  padding: 36px 170px 0;
  font-family: Raleway;
  font-weight: 500;
  font-size: 40px;
  line-height: 95.4%;
  color: #FFF;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-shadow: 0 1px 1px rgba(0,0,0,.05), 0 2px 2px rgba(0,0,0,.05), 0 4px 4px rgba(0,0,0,.05), 0 8px 8px rgba(0,0,0,.05), 0 16px 16px rgba(0,0,0,.05), 0 32px 32px rgba(0,0,0,.05);

  @include media-breakpoint-down(md) {
    min-width: 0;
    min-height: 0;
    padding: 46px 0;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 30px;
    background-size: auto 100%;
    background-position: 50% 50%;
    display: block;
  }

  @include media-breakpoint-down(sm) {
  }
}
.ui-title-page {
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

.ui-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 18px;
  li {
    &:before {
      content: '- ';
    }
  }
  &_mod-a {
    li {
      margin-bottom: 4px;
    }
  }
}

.ui-nav-tabs {
  margin-top: 16px;
  background: linear-gradient(90deg, #00B1EB 0%, #007AC1 49.47%, #0059A6 99.99%);
  border-radius: 50px;
  padding: 2px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  max-width: 890px;
  margin-left: auto;
  margin-right: auto;
  &__link {
    flex: 0 0 calc(100% / 3 - 2px);
    padding-top: 12px;
    padding-bottom: 13px;
    background-color: #fff;
    font-family: Raleway;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      background-color: transparent;
      pointer-events: none;
      color: #fff;
      text-decoration: none;

    }
    &:hover {
      color: #007AC1;
      text-decoration: none;
    }
    &:focus {
      color: #fff;
    }

    &:first-child {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
    &:last-child {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }

  &_second {
    background: linear-gradient(90deg, #FFCC00 0%, #F7A500 37.12%, #EF7900 79.5%, #EC6608 100.13%);
  }

  &_second & {
    &__link {
      &:hover {
        color: #FBB800;
      }
      &:focus {
        color: #fff;
      }
      // &.active {
      //   background: linear-gradient(90deg, #FFCC00 0%, #F7A500 37.12%, #EF7900 79.5%, #EC6608 100.13%);
      // }
    }
  }

  @include media-breakpoint-down(sm) {
    &__link {
      font-size: 13px;
    }
  }
}

.section-main {
  margin-bottom: 9px;
  padding-bottom: 120px;
  &__figure {
    margin: -150px -80px 0 0;
  }
  .block-content {
    p {
      font-size: 18px;
      line-height: 1.5;
    }
  }

  @include media-breakpoint-down(lg) {
    &__figure {
      margin-right: 0;
    }
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 50px;
    &__figure {
      margin: 30px 0;
    }
  }
}


.ui-link {
  color: #000;
  border-bottom: 1px solid #00A2DF;
  &:hover {
    color: #00A2DF;
  }
}


.user-content {
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 1.5;
  h1 {
    font-size: 50px;
    margin-bottom: 17px;
  }
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 22px;
  }
  p {
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      &:before {
        content: '- ';
      }
    }
  }
  a {
    color: #000;
    border-bottom: 1px solid #00A2DF;
    &:hover {
      color: #00A2DF;
    }
  }
}

.bg-default {
  background-color: #F4FCFF;
}
