// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}



@mixin button-gradient-gamma(
  $color1, $color-stop1, $color2, $color-stop2, $color3, $color-stop3
){
  background: linear-gradient(90deg, $color1 $color-stop1, $color2 $color-stop2, $color3 $color-stop3);
  &:hover{
    background: linear-gradient(90deg, lighten($color1, 5%) $color-stop1, lighten($color2, 5%) $color-stop2, lighten($color3, 5%) $color-stop3);
  }
}
.btn{
  position: relative;
  z-index: 3;
  transition: color 0s!important;
  color: red;
    &.theme-btn{
      border: none;
    }
    &.btn-white{
      background-color: #fff;
      &:hover{
        background-color: #ccc;
      }
    }
    &.theme-rect{
      padding: 15px;
    }
    &.round-btn{
      border-radius: 50%;
      &.theme-large{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        flex: 0 0 59px;
        width: 59px;
        height: 59px;
        @include media-breakpoint-up(md) {

        }
      }
      &.theme-normal{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
      }
    }
    &.theme-large{
      font-size: 14px;
      padding: 10px 10px;
      @include media-breakpoint-up(md) {
        font-size: 18px;
        padding: 10px 21.34px;
      }
    }
    &.theme-extra-large{
      font-size: 20.3543px;
      line-height: 180%;
      padding: 15px 60px;
    }
    &.theme-big{
      font-size: 18px;
      padding: 10px 12.34px;
    }
    &.theme-shadow{
      box-shadow: 0px 0.856811px 0.856811px rgba(0, 0, 0, 0.05), 0px 1.71362px 1.71362px rgba(0, 0, 0, 0.05), 0px 3.42724px 3.42724px rgba(0, 0, 0, 0.05), 0px 6.85449px 6.85449px rgba(0, 0, 0, 0.05), 0px 13.709px 13.709px rgba(0, 0, 0, 0.05), 0px 27.4179px 27.4179px rgba(0, 0, 0, 0.05);
      &:focus{
        &.btn-primary{
          box-shadow:
                  0px 0.856811px 0.856811px rgba(#00B1EB, 0.05),
                  0px 1.71362px 1.71362px rgba(#00B1EB, 0.05),
                  0px 3.42724px 3.42724px rgba(#00B1EB, 0.05),
                  0px 6.85449px 6.85449px rgba(#00B1EB, 0.05),
                  0px 13.709px 13.709px rgba(#00B1EB, 0.05),
                  0px 27.4179px 27.4179px rgba(#00B1EB, 0.05);
        }
      }
    }
    &.btn-default{
      background-color: #fff;
      color: #000;
      &:hover{
        color: #000;
        background: linear-gradient(90deg, #FFCC00 0%, #F7A500 37.12%, #EF7900 79.5%, #EC6608 100.13%);
      }
    }
    &.theme-gradient-bg{
      &.btn-primary{
        color: #fff;
        @include button-gradient-gamma(#00B1EB, 0%, #007AC1, 49.47%, #0059A6, 99.99%)
      }
      &.btn-default{
        color: #fff;
        @include button-gradient-gamma(#FFCC00, 0%, #F7A500, 37.12%, #EC6608, 100.13%)
      }
      &.btn-outline-primary,
      &.btn-outline-secondary{
        background-color: transparent;
        position: relative;
        background-image: none;
        color: #000;
        &::before{
          z-index: -1;
          content: '';
          position: absolute;
          top: -0px;
          left: -0px;
          right: -0px;
          bottom: -0px;
          border-radius: inherit;
        }
        &::after{
          z-index: -1;
          content: '';
          position: absolute;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          border-radius: inherit;
          background-color: #fff;
        }
        &:hover{
          color: #fff;
          &:after{
            background-color: transparent;
          }
        }
      }
      &.btn-outline-primary{
        &::before{
          @include button-gradient-gamma(#00B1EB, 0%, #007AC1, 49.47%, #0059A6, 99.99%)
        }
        &:hover{
          &:before{
            @include button-gradient-gamma(lighten(#00B1EB, 5%), 0%, lighten(#007AC1, 5%), 49.47%, lighten(#0059A6, 5%), 99.99%);
          }
        }
      }
      &.btn-outline-secondary{
        &::before{
          @include button-gradient-gamma(#FFCC00, 0%, #F7A500, 37.12%, #EC6608, 100.13%)
        }
        &:hover{
          &:before{
            @include button-gradient-gamma(lighten(#FFCC00, 5%), 0%, lighten(#EC6608, 5%), 49.47%, lighten(#EC6608, 5%), 99.99%);
          }
        }
      }
    }
    &.theme-radius{
      border-radius: 257.043px;
    }

}
