.wrapper{
  &--main{
    @include media-breakpoint-up(lg) {
      padding: 50px 40px 40px;
      box-shadow: 0px 1.2457px 1.2457px rgba(0, 0, 0, 0.05), 0px 2.4914px 2.4914px rgba(0, 0, 0, 0.05), 0px 4.9828px 4.9828px rgba(0, 0, 0, 0.05), 0px 9.9656px 9.9656px rgba(0, 0, 0, 0.05), 0px 19.9312px 19.9312px rgba(0, 0, 0, 0.05), 0px 39.8624px 39.8624px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      background-color: #fff;
    }

    .advanced-info{
      &__block{
        display: flex;
        flex-direction: column;
      }
      &__icon{
        flex: 0 0 75px;
        margin-right: 11px;
        text-align: center;
      }
    }
    .main-title{
      display: flex;
      margin-bottom: 15px;
      margin-top: 40px;
      flex-direction: column;
      .btn{
        max-width: 150px;
        font-size: 12px;
        margin-right: auto;
      }
      @include media-breakpoint-up(md){
        margin-top: 0;
        flex-direction: row;
        align-items: center;

      }
      h1{
        display: inline-block;
        margin-right: 10px;
      }
    }
    [data-js="decrement"]{
      path{
        fill: #685E5E;
      }
      &:hover{
        path{
          fill: #000;
        }
      }
      &:focus, &:active{
        svg{
          transform: scale(1.1);
        }
        path{
          fill: #000;
        }
      }
    }
  }
  &--product{
    .btn{
      margin-bottom: 20px;
    }
    .block-thumbnail{
      width: 100%;
      @include media-breakpoint-up(lg){
        position: absolute;
      }
    }
    .block-content{
      margin-bottom: 20px;

      @include media-breakpoint-up(lg){
        max-width: 547px;
      }
    }

    &__item{
      &:not(:last-child){
        margin-right: 35px;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .block-thumbnail {
      width: 90%;
    }
  }
}

.main-product-slider{
  .slick-list{
    max-width: 50%;
    @include media-breakpoint-up(lg){
      max-width: 80%;
    }
    margin:  0 auto;
  }
  .slick-slide img{
    margin: 0 auto;
  }
  .slick-dots{
    position: static;
    margin-top: 10px;
  }
  .slick-dots li{
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F7DCD3;
    border-radius: 50%;
    &.slick-active{
      border: 1px solid #00B1EB;
    }
    img{
      max-width: 50%;
      max-height: 50%;
    }
  }
}

.form-preview{
  margin-top: 13px;
  margin-bottom: 30px;
  &__title{
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    margin-bottom: 10px;
  }
  &__footer{
    margin-top: 15px;
  }
  &__body{
    display: flex;
    align-items: center;
    padding: 12px;
    background: linear-gradient(90deg, #00B1EB 0%, #007AC1 49.47%, #0059A6 99.99%);
    border-radius: 373.71px;
    margin-bottom: 5px;
  }
  &__price, &__counter{
    padding: 0 10px;
    color: #fff;
    font-size: 35px;
    line-height: 100%;
    @include media-breakpoint-up(md){
      font-size: 40px;
      line-height: 95.4%;
    }
  }
  &__price{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.delivery-rules{
  &__title{
    margin-top: 14px;
    font-weight: 600;
    line-height: 180%;
    margin-bottom: 5px;
    .city{
      color: #00A2DF;
      opacity: 0.77;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__block{
    position: relative;
    z-index: 4;
    border-radius: 4px;
    &::before{
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      left: -2px;
      bottom: -2px;
      right: -2px;
      border-radius: 4px;
      z-index: -2;
      background: linear-gradient(90deg, #00B1EB 0%, #007AC1 49.47%, #0059A6 99.99%);
    }
  }
  &__item{
    display: flex;
    padding: 7px 13px;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    margin: 2px;
  }
  &__icon{
    flex: 0 0 42px;
    margin-right: 10px;
  }
}

.block-thumbnail{
  text-align: center;
  display: block;
  position: relative;
  padding-bottom: 100%;
  img{
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
