mixin nav-bar()
  <nav class="nav-bar nav-bar--main">
    <div class="container">
      <div class="nav-bar__row">
        <a class="nav-bar__logo" href="/"></a>
        <ul class="nav-bar__pages d-none d-xl-flex">
          <li class="nav-bar__page nav-bar__page--city">
            != pugHelpers.Icon.call(locals, {iconName: 'marker', className: 'ic', iconWidth: '10', iconHeight: '14'})
            <span>Санкт-Петербург</span>
            <div class="nav-bar__cities">
              <input class="cities-input" placeholder="Введите название города">
            </div>
          </li>
          <li class="nav-bar__page">
            <a href="">Об Исцеликсе</a>
          </li>
          <li class="nav-bar__page">
            <a href="">Доставка и оплата</a>
          </li>
          <li class="nav-bar__page">
            <a href="">Консультация</a>
          </li>
          <li class="nav-bar__page">
            <a href="">Контакты</a>
          </li>
        </ul>
        <div class="nav-bar__buttons d-none d-xl-flex">
          <a href="/" class="btn btn-primary theme-btn theme-gradient-bg theme-radius theme-big theme-shadow">Вход</a>
          <a href="/" class="btn btn-default theme-btn theme-gradient-bg theme-radius theme-big theme-shadow">Регистрация</a>
        </div>
        <button class="d-block d-xl-none btn btn-primary theme-btn theme-gradient-bg theme-rect theme-shadow" data-target="mobile-menu">
          != pugHelpers.Icon.call(locals, {iconName: 'instruction', className: 'ic', iconWidth: '16', iconHeight: '10'})
        </button>
      </div>
    </div>
  </nav>




  <nav class="nav-bar nav-bar--main scrolled">
    <div class="container">
      <div class="nav-bar__row">
        <a class="nav-bar__logo" href="/"></a>
        <ul class="nav-bar__pages d-none d-xl-flex">
          <li class="nav-bar__page nav-bar__page--city">
            != pugHelpers.Icon.call(locals, {iconName: 'marker', className: 'ic', iconWidth: '10', iconHeight: '14'})
            <span>Санкт-Петербург</span>
            <div class="nav-bar__cities">
              <input class="cities-input" placeholder="Введите название города">
            </div>
          </li>
          <li class="nav-bar__page">
            <a href="">Об Исцеликсе</a>
          </li>
          <li class="nav-bar__page">
            <a href="">Доставка и оплата</a>
          </li>
          <li class="nav-bar__page">
            <a href="">Консультация</a>
          </li>
          <li class="nav-bar__page">
            <a href="">Контакты</a>
          </li>
        </ul>
        <div class="nav-bar__buttons d-none d-xl-flex">
          <a href="/" class="btn btn-primary theme-btn theme-gradient-bg theme-radius theme-big theme-shadow">Вход</a>
          <a href="/" class="btn btn-default theme-btn theme-gradient-bg theme-radius theme-big theme-shadow">Регистрация</a>
        </div>
        <button class="d-block d-xl-none btn btn-primary theme-btn theme-gradient-bg theme-rect theme-shadow" data-target="mobile-menu">
          != pugHelpers.Icon.call(locals, {iconName: 'instruction', className: 'ic', iconWidth: '16', iconHeight: '10'})
        </button>
      </div>
    </div>
  </nav>

  <div class="modal fade modal-nav" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close modal-button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-menu">
          <div class="nav-bar__page--city">
            != pugHelpers.Icon.call(locals, {iconName: 'marker', className: 'ic', iconWidth: '10', iconHeight: '14'})
            <span>Санкт-Петербург</span>
            <div class="nav-bar__cities">
              <input class="cities-input" placeholder="Введите название города">
              <div id="cityChoiceContainer"></div>
            </div>
          </div>
          <a href="/">Об Исцеликсе</a>
          <a href="/">Доставка и оплата</a>
          <a href="/">Консультация</a>
          <a href="/">Контакты</a>
          <a href="/">Вход</a>
          <a href="/">Регистрация</a>
          <a href="/">
            != pugHelpers.Icon.call(locals, {iconName: 'instruction', className: 'ic', iconWidth: '16', iconHeight: '10'})
            | Инструкция
          </a>
          <a href="mailto:info@isceliks.ru">info@isceliks.ru</a>
          <a href="tel:88002016494">8 (800) 201 - 64 - 94</a>
        </div>
      </div>
    </div>
  </div>


  // end .nav-bar


mixin nav-bar-product()

  header.header
    <nav class="nav-bar">
      <div class="container">
        <div class="nav-bar__row">
          <a class="nav-bar__logo" href="/"><img src="assets/media/general/logo.svg" alt="Исцеликс"/></a>
          <ul class="nav-bar__pages d-none d-xl-flex">
            <li class="nav-bar__page">
              <a href="">Об Исцеликсе</a>
            </li>
            <li class="nav-bar__page">
              <a href="">Отзывы</a>
            </li>
            <li class="nav-bar__page">
              <a href="">Консультация</a>
            </li>
            <li class="nav-bar__page">
              <a href="">Контакты</a>
            </li>
          </ul>
          <div class="nav-bar__buttons d-none d-xl-flex">
            <a href="/" class="btn btn-primary theme-btn theme-gradient-bg theme-radius theme-large theme-shadow">
              != pugHelpers.Icon.call(locals, {iconName: 'instruction', className: 'ic', iconWidth: '16', iconHeight: '10'})
              | Инструкция
            </a>
            <a href="/" class="btn btn-default theme-btn theme-gradient-bg theme-radius theme-large theme-shadow">
              != pugHelpers.Icon.call(locals, {iconName: 'basket', className: 'ic', iconWidth: '18', iconHeight: '17'})
              | Купить
            </a>
          </div>
          <button class="d-block d-xl-none btn btn-primary theme-btn theme-gradient-bg theme-rect theme-shadow" data-target="mobile-menu">
            != pugHelpers.Icon.call(locals, {iconName: 'instruction', className: 'ic', iconWidth: '22', iconHeight: '15'})
          </button>
        </div>
      </div>
    </nav>


    <nav class="nav-bar scrolled">
      <div class="container">
        <div class="nav-bar__row">
          <a class="nav-bar__logo" href="/"><img src="assets/media/general/logo.svg" alt="Исцеликс"/></a>
          <ul class="nav-bar__pages d-none d-xl-flex">
            <li class="nav-bar__page">
              <a href="">Об Исцеликсе</a>
            </li>
            <li class="nav-bar__page">
              <a href="">Отзывы</a>
            </li>
            <li class="nav-bar__page">
              <a href="">Консультация</a>
            </li>
            <li class="nav-bar__page">
              <a href="">Контакты</a>
            </li>
          </ul>
          <div class="nav-bar__buttons d-none d-xl-flex">
            <a href="/" class="btn btn-primary theme-btn theme-gradient-bg theme-radius theme-large theme-shadow">
              != pugHelpers.Icon.call(locals, {iconName: 'instruction', className: 'ic', iconWidth: '16', iconHeight: '10'})
              | Инструкция
            </a>
            <a href="/" class="btn btn-default theme-btn theme-gradient-bg theme-radius theme-large theme-shadow">
              != pugHelpers.Icon.call(locals, {iconName: 'basket', className: 'ic', iconWidth: '18', iconHeight: '17'})
              | Купить
            </a>
          </div>
          <button class="d-block d-xl-none btn btn-primary theme-btn theme-gradient-bg theme-rect theme-shadow" data-target="mobile-menu">
            != pugHelpers.Icon.call(locals, {iconName: 'instruction', className: 'ic', iconWidth: '22', iconHeight: '15'})
          </button>
        </div>
      </div>
    </nav>



    <div class="modal fade modal-nav" tabindex="-1" role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close modal-button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
           <div class="modal-menu">
             <a href="/">Об Исцеликсе</a>
             <a href="/">Отзывы</a>
             <a href="/">Консультация</a>
             <a href="/">Контакты</a>
             a(href="/")
              != pugHelpers.Icon.call(locals, {iconName: 'instruction', className: 'ic', iconWidth: '16', iconHeight: '10'})
              | Инструкция
             a(href="/")
              != pugHelpers.Icon.call(locals, {iconName: 'basket', className: 'ic', iconWidth: '18', iconHeight: '17'})
              | Купить
             <a href="mailto:info@isceliks.ru">info@isceliks.ru</a>
             <a href="tel:88002016494">8 (800) 201 - 64 - 94</a>
           </div>
        </div>
      </div>
    </div>


