.nav-bar{
  padding-top: 25px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 333;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  &.scrolled{
    display: none;
    background-color: #fff;
    box-shadow: 0 0 3px 5px rgba(51, 51, 51, 0.08);
    position: fixed;
    transform: translateY(-100%);
    transition: 0.3s;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &.show{
    transform: translateY(0);
  }
  &__cities{
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    z-index: 33;
    input{
      background: #FFFFFF;
      box-shadow: 0px 1.2457px 1.2457px rgba(0, 0, 0, 0.05), 0px 2.4914px 2.4914px rgba(0, 0, 0, 0.05), 0px 4.9828px 4.9828px rgba(0, 0, 0, 0.05), 0px 9.9656px 9.9656px rgba(0, 0, 0, 0.05), 0px 19.9312px 19.9312px rgba(0, 0, 0, 0.05), 0px 39.8624px 39.8624px rgba(0, 0, 0, 0.05);
      border-radius: 373.71px;
      padding:  16px 30px;
      width: 311px;
      border: none;
      outline: none;
    }
  }

  &__pages{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    margin: 0;
    max-width: 540px;
    li{
      margin: 0 14px;
    }
    a{
      color: #000;
      &:hover {
        color: #00A2DF;
        text-decoration: underline;
      }
    }
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__buttons{
    a{
      &:not(:last-child) {
        margin-right: 17px;
      }
      display: inline-flex;
      align-items: center;
      svg{
        margin-right: 6px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 10px;
    .btn.theme-rect {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  // &--main{
  //   padding-bottom: 0;
  //   background-color: #fcfdff;
  //   @include media-breakpoint-up(lg) {
  //     padding-bottom: 15px;
  //   }
  //   .nav-bar{
  //     &__logo{
  //       @include media-breakpoint-up(lg) {
  //         svg{
  //           max-width: 162px;
  //         }
  //       }
  //     }
  //     &__page{
  //       &--city{
  //         color: #00A2DF;
  //         cursor: pointer;
  //         position: relative;
  //       }
  //     }
  //   }
  // }
}

.modal-nav{
  .modal-content{
    background: linear-gradient(90deg, #00B1EB 0%, #108DD6 48.44%, #1B81DA 97.4%);
    border-radius: 20px;
    display: flex;
    padding: 13px 45px 18px 21px;
    justify-content: center;
    position: relative;
    border: none;
    .modal-button{
      position: absolute;
      right: 20px;
      top: 15px;
      color: #fff;
    }
    .modal-menu{
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;

      .nav-bar__page--city{
        color: #fff;
        display: inline-flex;
        align-items: center;
        margin: 8px 0px;
        border-bottom: 1px solid transparent;
        svg{
          margin-right: 8px;
        }
        path{
          fill: #fff;
        }
      }
      a{
        display: inline-flex;
        align-items: center;
        color: #fff;
        margin: 8px 0px;
        border-bottom: 1px solid transparent;
        svg{
          margin-right: 5px;
        }
        @media (hover: hover) {
          &:hover{
            text-decoration: none;
            border-bottom: 1px solid #fff;
          }
        }
      }
    }
  }
}


.ui-widget.ui-widget-content{
  border: none!important;
}
.ui-menu.ui-widget .ui-menu-item{
  background: #FFFFFF;
  box-shadow: 0px 1.2457px 1.2457px rgba(0, 0, 0, 0.05), 0px 2.4914px 2.4914px rgba(0, 0, 0, 0.05), 0px 4.9828px 4.9828px rgba(0, 0, 0, 0.05), 0px 9.9656px 9.9656px rgba(0, 0, 0, 0.05), 0px 19.9312px 19.9312px rgba(0, 0, 0, 0.05), 0px 39.8624px 39.8624px rgba(0, 0, 0, 0.05);
  border-radius: 373.71px;
  padding: 9px 11px;
  @include media-breakpoint-up(lg) {
    padding:  15px 29px;
  }
  width: 250px;
  @include media-breakpoint-up(lg) {
    width: 311px;
  }
  border: 1px solid #fff;
  outline: none;
  margin-top: 12px;
  &:hover{
    border: 1px solid #FFCC00;
  }
}
.ui-menu.ui-widget .ui-menu-item-wrapper.ui-state-active{
  background-color: transparent;
  border: 1PX solid #fff;
  color: #000;
}
.ui-widget-content{
  background-color: transparent!important;
}
.nav-bar__cities{
  display: none;
}

.modal-nav{
  .nav-bar__cities{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(#333, 0.7);
    border-radius: 20px;
    input{
      margin-top: 50px;
      max-width: 250px;
      padding: 10px 12px;
    }
  }
}
.ui-front{
  z-index: 1200!important;
}
