.info-section {
  &__btn {
    margin-bottom: 10px;
  }
  .block-thumbnail {
    position: relative;
    width: 100%;
  }
  .ui-title {
    color: #000;
    padding: 130px 0 22px;
    min-width: 0;
    min-height: 0;
  }
  &__info-block {
    .block-content {
      margin-bottom: 12px;
    }
  }
  &__links-block {
    .advanced-links {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05), 0px 16px 16px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.05);
      &::after {
        display: none;
      }
    }
  }

  .btn.theme-large {
    font-size: 16px;
    padding: 11px 75px;
  }


  @include media-breakpoint-down(md) {
    .ui-title {
      padding-top: 30px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
