mixin info-section()

  <div class="info-section">
    <div class="info-section__info-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="ui-title">Исцеликс - здоровье в&nbsp;твоих руках</h2>
            <a href="/" class="d-block d-md-none">
              <div class="block-thumbnail">
                <div class="waves-effect">
                  <div class="waves-effect__block-1"></div>
                  <div class="waves-effect__block-2"></div>
                  <div class="waves-effect__block-3"></div>
                  <div class="waves-effect__block-4"></div>
                </div>

                <img src="assets/media/content/objectives/fnail.png" alt="фото">
              </div>
            </a>
            <div class="block-content">
              <p>
                <span class="fw-medium">Исцеликс</span> - комплекс с <span class="fw-medium">двойным действием</span> для <span class="fw-medium">очищения</span> и ускоренного <span class="fw-medium">восстановления</span> организма. Вы можете <span class="fw-medium">купить Исцеликс</span> на нашем сайте, без аптечной наценки.
              </p>
              <p>
                <span class="fw-medium">Доставка</span> осуществляется компаниями СДЭК и Boxberry до пункта самовывоза. Также Вы можете заказать доставку курьером до двери.
              </p>
              <p>
                <span class="fw-medium">Цена</span> одной банки - 399 рублей. На курс 7-10 дней требуется минимум две банки. При заказе от <span class="fw-medium">4-х штук</span>, доставка до пункта самовывоза <span class="fw-medium">бесплатно</span>.
              </p>
            </div>



            <a href="/" class="info-section__btn btn btn-outline-secondary theme-btn theme-gradient-bg theme-radius theme-large theme-shadow">Купить онлайн</a>
          </div>
          <div class="col-lg-6 text-center ">
            <a href="/" class="d-md-block d-none">
              <div class="block-thumbnail">
                <div class="waves-effect">
                  <div class="waves-effect__block-1"></div>
                  <div class="waves-effect__block-2"></div>
                  <div class="waves-effect__block-3"></div>
                  <div class="waves-effect__block-4"></div>
                </div>

                <img src="assets/media/content/objectives/fnail.png" alt="фото">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  // end .info-section
