doctype html
html(lang="ru")

  //- include ../components/loader/loader
  include ../components/nav-bar/nav-bar
  include ../components/advanced-info/advanced-info
  include ../components/footer/footer
  include ../components/advanced-links/advanced-links
  include ../components/b-istruction/b-istruction
  include ../components/reviews/reviews
  include ../components/info-section/info-section
  include ../components/advanced/advanced
  include ../components/principle/principle
  include ../components/head/head
  //- include ../components/header/header

  block head

  body
    |%=symbols=%

    //- block loader
    //-   +loader()

    .l-theme
      block content
      +footer-product()


    // end .l-theme

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();


    // ++++++++++++
    // MAIN SCRIPTS
    // ++++++++++++




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.0/jquery-migrate.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>


    //- // Main script
    //- script(src='assets/js/main.js')

    block scripts

    // User customization
    script(src='assets/js/custom.js')




