extends _template.pug

block head
  head
    +head(head.defaults)

block content

  main.l-content
    .container

      .section-default.text-center.pb-5
        h1 Страницы
        ol.list-page(style="text-align: left;")
          li
            a.text-success(href="index.html" target="_blank") Продукт
          li
            a.text-success(href="about.html" target="_blank") Об Исцеликсе
          li
            a.text-success(href="purification.html" target="_blank") Очищение
          li
            a.text-success(href="losing.html" target="_blank") Похудение
          li
            a.text-success(href="hangover.html" target="_blank") Похмелье
          li
            a.text-success(href="consultation.html" target="_blank") Консультация
          li
            a.text-success(href="instruction.html" target="_blank") Инструкция
          li
            a.text-success(href="reviews.html" target="_blank") Отзывы
          li
            a.text-success(href="page.html" target="_blank") Страница

  .page__buffer
