extends _template.pug

include ../components/b-faq/b-faq
include ../components/b-contacts/b-contacts
//- include ../components/reviews/reviews
//- include ../components/info-section/info-section
//- include ../components/

block head
  head
    +head(head.home)


//- block header
  +header('')


block content

  +nav-bar-product()

  .l-wrap_page-inner
    .bg-radius-bottom.bg-radius-bottom_up-null
      .container
        nav(aria-label="breadcrumb")
          ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
            li.breadcrumb-item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              a(href="#" itemprop="item")
                span(itemprop="name") Главная
              meta(itemprop="position" content="1")

            li.breadcrumb-item.active(aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              span(itemprop="name") Консультация
              meta(itemprop="position" content="2")


      .container
        section.section-main
          .row
            .col-xl-6.col-lg-8
              h1.ui-title-page Консультация

          .row
            .col-lg-6.order-lg-last
              .section-main__figure
                img.img-fluid(src="assets/media/content/main-section/consultation.png" alt="фото")

            .col-lg-6
              .block-content.pr-md-5
                p Наши
                  span.fw-semibold  специалисты
                  |
                  |  будут рады ответить на все Ваши вопросы, которые касаются применения Исцеликса.
                p
                  span.fw-semibold Свяжитесь с нами,
                  |
                  |  используя любой удобный для Вас способ из перечисленных ниже.
                p Среднее
                  span.fw-semibold  время ответа
                  |
                  | - 5-10 минут.

              .b-team
                .b-team__item
                  .b-team__foto
                      img.img-fluid(src="assets/media/content/consultation/face-1.jpg", alt="фото")
                  ul.b-team-list.list-unstyled
                    li.b-team-list__item
                      span.b-team-list__figure
                        img.img-fluid(src="assets/media/general/ic/user.png", alt="Значок")
                      span.b-team-list__info Петров <br>Иван Иванович
                    li.b-team-list__item
                      span.b-team-list__figure
                        img.img-fluid(src="assets/media/general/ic/list.png", alt="Значок")
                      span.b-team-list__info Диетолог
                    li.b-team-list__item
                      span.b-team-list__figure.b-team-list__number 5
                      span.b-team-list__info Стаж 5 лет

                .b-team__item
                  .b-team__foto
                    img.img-fluid(src="assets/media/content/consultation/face-2.jpg", alt="фото")
                  ul.b-team-list.list-unstyled
                    li.b-team-list__item
                      span.b-team-list__figure
                        img.img-fluid(src="assets/media/general/ic/user.png", alt="Значок")
                      span.b-team-list__info Петрова <br>Ольга Ивановна
                    li.b-team-list__item
                      span.b-team-list__figure
                        img.img-fluid(src="assets/media/general/ic/list.png", alt="Значок")
                      span.b-team-list__info Токсиколог
                    li.b-team-list__item
                      span.b-team-list__figure.b-team-list__number 25
                      span.b-team-list__info Стаж 15 лет


    +b-contacts()


    section.content-section.pb-2
      .container
        .ui-title-wrap.ui-title-wrap_orange
          h2.ui-title Частые вопросы
        .row
          .col-md-9
            +b-faq()
        nav
          ul.pagination.justify-content-center
            li.page-item.active
              a.page-link(href="#") 1
            li.page-item
              a.page-link(href="#") 2
            li.page-item
              a.page-link(href="#") 3
            li.page-item
              a.page-link(href="#") 4
            li.page-item
              a.page-link(href="#") 5
