extends _template.pug

include ../components/advanced-links/advanced-links
include ../components/reviews/reviews
include ../components/info-section/info-section
include ../components/nav-bar/nav-bar
//- include ../components/

block head
  head
    +head(head.home)


//- block header
  +header('')


block content

  +nav-bar()
  <div class="bg-radius-bottom">
    <div class="container">
      <div class="wrapper wrapper--main">
        <div class="row flex-row-reverse flex-lg-row">
          <div class="col-lg-5 d-none d-lg-block">
            <div class="main-product-slider">
              <div class="text-center">
                <img src="assets/media/content/objectives/iscelix.png" alt="фото">
              </div>
              <div class="text-center">
                <img src="assets/media/content/objectives/iscelix.png" alt="фото">
              </div>
              <div class="text-center">
                <img src="assets/media/content/objectives/iscelix.png" alt="фото">
              </div>
              <div class="text-center">
                <img src="assets/media/content/objectives/iscelix.png" alt="фото">
              </div>
              <div class="text-center">
                <img src="assets/media/content/objectives/iscelix.png" alt="фото">
              </div>
            </div>

            <div class="advanced-info">
              <div class="advanced-info__block">
                <div class="advanced-info__item d-flex align-items-center">
                  <div class="advanced-info__icon">
                    != pugHelpers.Icon.call(locals, {iconName: 'state_register', className: 'ic', iconWidth: '20', iconHeight: '20'})
                  </div>
                  <div class="advanced-info__text advanced-info__text--1">Свидетельство государственной регистрации № от 01 января 2019 года</div>
                </div>

                <div class="advanced-info__item d-flex align-items-center">
                  <div class="advanced-info__icon">
                    != pugHelpers.Icon.call(locals, {iconName: 'state_iso', className: 'ic', iconWidth: '20', iconHeight: '20'})
                  </div>
                  <div class="advanced-info__text advanced-info__text--2">Изготовлено по стандарту качества ISO 22000:2005</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="main-title">
              <h1>Купить Исцеликс</h1>
              <span class="btn btn-primary theme-btn theme-gradient-bg theme-radius theme-small theme-shadow">В наличии</span>
            </div>
            <div class="d-lg-none">
              <div class="main-product-slider">
                <div class="text-center">
                  <img src="assets/media/content/objectives/iscelix.png" alt="фото">
                </div>
                <div class="text-center">
                  <img src="assets/media/content/objectives/iscelix.png" alt="фото">
                </div>
                <div class="text-center">
                  <img src="assets/media/content/objectives/iscelix.png" alt="фото">
                </div>
                <div class="text-center">
                  <img src="assets/media/content/objectives/iscelix.png" alt="фото">
                </div>
                <div class="text-center">
                  <img src="assets/media/content/objectives/iscelix.png" alt="фото">
                </div>
              </div>
              <div class="advanced-info">
                <div class="advanced-info__block">
                  <div class="advanced-info__item d-flex align-items-center">
                    <div class="advanced-info__icon">
                      != pugHelpers.Icon.call(locals, {iconName: 'state_register', className: 'ic', iconWidth: '20', iconHeight: '20'})
                    </div>
                    <div class="advanced-info__text advanced-info__text--1">Свидетельство государственной регистрации № 000000000000000000 от 01 января 2019 года
                    </div>
                  </div>
                  <div class="advanced-info__item d-flex align-items-center">
                    <div class="advanced-info__icon">
                      != pugHelpers.Icon.call(locals, {iconName: 'state_iso', className: 'ic', iconWidth: '20', iconHeight: '20'})
                    </div>
                    <div class="advanced-info__text advanced-info__text--2">Изготовлено по стандарту качества ISO 22000:2005</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="block-content">
              <p>Вы можете <span class="fw-medium">оформить покупку Исцеликса</span> с доставкой на нашем сайте, без наценки посредников и аптечных сетей.</p>
              <p>
                <span class="fw-medium">Цена</span> за одну <span class="fw-medium">банку</span> Исцеликса <span class="fw-medium">составляет 399 рублей</span>.
              </p>
              <p>
                <span class="fw-medium">Доставка</span> осуществляется компаниями СДЭК и Boxberry до пункта <span class="fw-medium">самовывоза</span> по всей России и СНГ.  Также возможна доставка <span class="fw-medium">курьером</span> до двери.
              </p>
              <p>
                <span class="fw-medium">Первый</span> заказ <span class="fw-medium">требуется оплатить</span> онлайн с помощью карты или электронных кошельков, для всех <span class="fw-medium">последующих</span> заказов возможна оплата <span class="fw-medium">при получении</span>.
              </p>
            </div>

            <div class="form-preview">
              <div class="form-preview__title">Количество и цена</div>
              <div class="form-preview__body">
                <button class="btn btn-white theme-btn round-btn theme-normal theme-shadow" data-js="decrement" data-target="form-preview__counter">
                  != pugHelpers.Icon.call(locals, {iconName: 'minus', className: 'ic', iconWidth: '20', iconHeight: '20'})
                </button>
                </div>
                <div class="form-preview__counter" data-id="form-preview__counter">2</div>
                <button class="btn btn-default theme-btn theme-gradient-bg round-btn theme-large theme-shadow" data-js="increment" data-target="form-preview__counter">
                  != pugHelpers.Icon.call(locals, {iconName: 'plus', className: 'ic', iconWidth: '20', iconHeight: '20'})
                </button>
                <div class="form-preview__price">
                  <span class="val">798</span>
                  <span class="postfix">&nbsp;&#8381;</span>
                </div>
                <button class="btn btn-default theme-btn theme-gradient-bg theme-radius theme-extra-large theme-shadow d-none d-sm-block ml-auto">Оформить</button>
              </div>
              <div class="form-preview__body  d-sm-none">
                <button class="btn btn-default theme-btn theme-gradient-bg theme-radius theme-extra-large theme-shadow ml-auto mr-auto">Оформить</button>
              </div>
              <div class="form-preview__footer">
                <p>
                  != pugHelpers.Icon.call(locals, {iconName: 'bag', className: 'ic', iconWidth: '20', iconHeight: '20'})
                </p>
                <p>
                  != pugHelpers.Icon.call(locals, {iconName: 'present', className: 'ic', iconWidth: '20', iconHeight: '20'})
                </p>
              </div>
            </div>

            <div class="delivery-rules">
              <div class="delivery-rules__title">Доставка в
                <span class="city">
                  != pugHelpers.Icon.call(locals, {iconName: 'marker', className: 'ic', iconWidth: '20', iconHeight: '20'})
                </span>
              </div>

              <div class="delivery-rules__block">
                <div class="row no-gutters">
                  <div class="col-sm-6 d-flex">
                    <div class="delivery-rules__item ">
                      <div class="delivery-rules__icon">
                        != pugHelpers.Icon.call(locals, {iconName: 'magazine', className: 'ic', iconWidth: '20', iconHeight: '20'})
                      </div>
                      <div class="delivery-rules__text">
                        <span class="fw-semibold">Самовывоз</span><br>100 рублей.<br>Срок: 3 дня.<br>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 d-flex">
                    <div class="delivery-rules__item ">
                      <div class="delivery-rules__icon">
                        != pugHelpers.Icon.call(locals, {iconName: 'currier', className: 'ic', iconWidth: '20', iconHeight: '20'})
                      </div>
                      <div class="delivery-rules__text">
                        <span class="fw-semibold">Курьером</span><br>200 рублей.<br>Срок: 2 дня.<br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="delivery-rules__title">Оплата</div>
              <div class="delivery-rules__block">
                <div class="row no-gutters">
                  <div class="col-sm-6 d-flex">
                    <div class="delivery-rules__item ">
                    <div class="delivery-rules__icon">
                      != pugHelpers.Icon.call(locals, {iconName: 'payment', className: 'ic', iconWidth: '20', iconHeight: '20'})
                    </div>
                    <div class="delivery-rules__text">
                      <span class="fw-semibold">Онлайн</span><br>Безопасная оплата онлайн при первом заказе</div>
                    </div>
                  </div>
                  <div class="col-sm-6 d-flex">
                    <div class="delivery-rules__item ">
                      <div class="delivery-rules__icon">
                        != pugHelpers.Icon.call(locals, {iconName: 'user-card', className: 'ic', iconWidth: '20', iconHeight: '20'})
                      </div>
                      <div class="delivery-rules__text">
                        <span class="fw-semibold">При получении</span><br>Возможна, начиная со второго заказа
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="steps">
        <h2 class="text-center">Этапы оформления заказа</h2>
        <div class="row no-gutters justify-content-md-center align-items-center">
          <div class=" steps__item">
            <div class="steps__number steps__number--orange">1</div>
            <div class="steps__text">Быстрая <br>регистрация</div>
          </div>

          <div class="steps__item">
            <div class="steps__number">2</div>
            <div class="steps__text">Способ  <br>получения</div>
          </div>

          <div class=" steps__item">
            <div class="steps__number">3</div>
            <div class="steps__text">Способ  <br>оплаты</div>
          </div>

          <div class=" steps__item">
            <div class="steps__number">4</div>
            <div class="steps__text">Подтверждение<br>и ввод промокода
          </div>
        </div>

        <div class=" steps__item">
          <div class="steps__number">
            <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.283 7.98186L5.63278 6.60817L10.357 1.80026L9.00722 0.426575L4.28299 5.23449L1.99284 2.90382L0.643066 4.27751L4.283 7.98186Z" fill="white"/>
            </svg>
          </div>
          <div class="steps__text">Заказ <br>оформлен</div>
        </div>
      </div>
    </div>
  </div>

  <div class="advanced-links advanced-links--mobile">
    +advanced-links()
  </div>

  <div class="bg-radius-bottom">
    +reviews()
    +info-section()
  </div>
