extends _template.pug


include ../components/reviews/reviews
//- include ../components/

block head
  head
    +head(head.home)


//- block header
  +header('')


block content

  +nav-bar-product()

  .l-wrap_page-inner

    main.l-main
      <div class="bg-radius-bottom bg-radius-bottom_up-main">
        <div class="container">
          <div class="wrapper wrapper--product">
            <div class="row">
              <div class="col-lg-6">
                h1.ui-title-page Исцеликс - здоровье в твоих руках

                <div class="block-thumbnail__container">
                  <a href="/" class="block-thumbnail d-lg-none">
                    <div class="waves-effect">
                      <div class="waves-effect__block-1"></div>
                      <div class="waves-effect__block-2"></div>
                      <div class="waves-effect__block-3"></div>
                      <div class="waves-effect__block-4"></div>
                    </div>

                    <img src="assets/media/content/objectives/iscelix.png" alt="фото">
                  </a>
                </div>

                <div class="block-content">
                  <p>
                    <span class="fw-semibold">Исцеликс</span> - инновационный препарат <span class="fw-medium">с двойным</span> действием: <span class="fw-medium">очищает</span> организм и <span class="fw-medium">ускоряет</span> его <span class="fw-medium">восстановление.</span>
                  </p>
                  <p>- <span class="fw-medium">Сорбент выводит токсины</span>, патогенные бактерии и аллергены.</p>
                  <p>- <span class="fw-medium">Активные частицы</span> до трех раз <span class="fw-medium">ускоряют обмен веществ</span> для быстрого <span class="fw-medium">восстановления</span>.</p>
                  <p>
                    <span class="fw-medium">Исцеликс</span> имеет широкий спектр действия и <span class="fw-medium">применятся</span> для <span class="fw-medium">очищения</span> орагнизма, улучшения состояния <span class="fw-medium">кожи лица</span>, снижения <span class="fw-medium">веса</span> и даже для предупреждения или избавления от <span class="fw-medium">похмельного</span> синдрома!
                  </p>
                </div>
                <a href="/" class="btn btn-outline-secondary theme-btn theme-gradient-bg theme-radius theme-large theme-shadow">Подробнее об Исцеликсе</a>

                +advanced-info()(class="advanced-info_mod-a")
              </div>

              <div class="col-lg-6 d-none d-lg-block">
                <a href="/" class="block-thumbnail">
                  <div class="waves-effect">
                    <div class="waves-effect__block-1"></div>
                    <div class="waves-effect__block-2"></div>
                    <div class="waves-effect__block-3"></div>
                    <div class="waves-effect__block-4"></div>
                  </div>
                  <img src="assets/media/content/objectives/iscelix.png" alt="фото">
                </a>
              </div>
            </div>

          </div>
        </div>


        +advanced-links()(class="mb-md-5 mb-4")
      </div>


      <section class="content-section">
        <div class="container">
          .ui-title-wrap.ui-title-wrap_orange
            h2.ui-title Показания

          <div class="section-subtitle">Благодаря тому, что Исцеликс обладает высокими детоксикационными свойствами и способствует быстрому восстановлению организма, он является универсальным препаратом для использования при различных показаниях.</div>
          <div class="content-section__item">
            <div class="row align-items-center">
              <div class="col-lg-7">
                <a href="/">
                  <div class="content-section__thumbnail content-section__thumbnail--blue-bg">
                    <img src="assets/media/content/objectives/isc1.png" alt="фото">
                  </div>
                  <div class="content-section__mark content-section__mark--1">
                    <img src="assets/media/content/objectives/toxins.png" alt="фото">
                  </div>
                </a>
              </div>
              <div class="col-lg-5">
                <a href="/">
                  <h2>Время генеральной очистки организма</h2>
                </a>
                <div class="block-content">
                  <p>
                    <span class="fw-medium">Исцеликс</span> обладает <span class="fw-medium">двойным</span> действием: <span class="fw-medium">очищает</span> организм и до трех раз <span class="fw-medium">ускоряет</span> его восстановление!
                  </p>
                  <p>
                    <span class="fw-medium">Комплексное действие</span> основных компонентов Исцеликса за 7-10 дней применения,  способствует:
                  </p>
                  <p>- улучшению состояния кожи;</p>
                  <p>- ускорению метаболизма и снижению веса;</p>
                  <p>- улучшению самочувствия.</p>
                  <span class="fw-medium">Здоровье в твоих руках!</span>
                </div>
                <a href="/" class="btn btn-outline-secondary theme-btn theme-gradient-bg theme-radius theme-large theme-shadow">Подробнее</a>
              </div>
            </div>
          </div>


          <div class="content-section__item">
            <div class="cans d-none d-xl-block">
              <img src="assets/media/content/objectives/iscelix.png" alt="фото">
            </div>
            <div class="row align-items-center flex-row-reverse">
              <div class="col-lg-7">
                <a href="/">
                  <div class="content-section__thumbnail content-section__thumbnail--yellow-bg">
                    <img src="assets/media/content/objectives/isc2.png" alt="фото">
                  </div>
                  <div class="content-section__mark content-section__mark--2">
                    <img src="assets/media/content/objectives/wght.png" alt="фото">
                  </div>
                </a>
              </div>

              <div class="col-lg-5">
                <a href="/">
                  <h2>Первый шаг <br>к стройности</h2>
                </a>
                <div class="block-content">
                  <p>
                    <span class="fw-medium">Исцеликс</span> - комплекс для похудения <span class="fw-medium">2 в 1</span>: подготавливает организм к похудению и ускоряет метаболизм.
                  </p>
                  <p>Применение <span class="fw-medium">Исцеликса</span> на протяжении 7-10 дней, совместно с диетой и умеренным физ.нагрузками, <span class="fw-medium">способствует</span>:</p>
                  <p>- ускорению метаболизма и преодолению диетического плато (“встал вес”);</p>
                  <p>- усилению энергетического потенциала и уменьшению чувства голода;</p>
                  <p>
                    <span class="fw-medium">Сделай</span> шаг к фигуре мечты!
                  </p>
                </div>
                <a href="/" class="btn btn-outline-secondary theme-btn theme-gradient-bg theme-radius theme-large theme-shadow">Подробнее</a>
              </div>
            </div>
          </div>

          <div class="content-section__item">
            <div class="row align-items-center">
              <div class="col-lg-7">
                <a href="/">
                  <div class="content-section__thumbnail content-section__thumbnail--blue-bg">
                    <img src="assets/media/content/objectives/isc3.png" alt="фото">
                  </div>
                  <div class="content-section__mark content-section__mark--3">
                    <img src="assets/media/content/objectives/recovering.png" alt="фото">
                  </div>
                </a>
              </div>
              <div class="col-lg-5">
                <a href="/">
                  <h2>Утро без похмелья</h2>
                </a>
                <div class="block-content">
                  <p>
                    <span class="fw-medium">Исцеликс</span> позволяет предупредить похмельный синдром, а в случае его наличия – быстрее избавить организм от этого состояния.
                  </p>
                  <p>Применение Исцеликса <span class="fw-medium">способствует</span>:</p>

                  <p>- сорбции этанола и выведению продуктов распада алкоголя после их реабсорбции в кишечнике;</p>
                   <p>- ускоренному восстановлению организма после наступления похмелья;</p>
                  <p>- улучшению функций печени.</p>
                  <p>Утро будет <span class="fw-medium">добрым!</span></p>
                </div>
                <a href="/" class="btn btn-outline-secondary theme-btn theme-gradient-bg theme-radius theme-large theme-shadow">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </section>


      +advanced()


      <div class="bg-radius-top">
        +principle()
      </div>



      <div class="bg-radius-bottom">
        +reviews()
        +info-section()
        +advanced-links()(class="advanced-links_no-fig")
        +advanced-links()(class="advanced-links_no-fig advanced-links--mobile")
      </div>

