extends _template.pug

include ../components/nav-bar/nav-bar
include ../components/b-scheme/b-scheme

block head
  head
    +head(head.home)


//- block header
  +header('')


block content

  +nav-bar-product()

  .l-wrap_page-inner
    .bg-radius-bottom.bg-radius-bottom_up-null
      .container
        nav(aria-label="breadcrumb")
          ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
            li.breadcrumb-item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              a(href="#" itemprop="item")
                span(itemprop="name") Главная
              meta(itemprop="position" content="1")

            li.breadcrumb-item.active(aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              span(itemprop="name") Исцеликс - инструкция по применению
              meta(itemprop="position" content="2")


      .container
        section.section-main
          .row
            .col-xl-6.col-lg-8
              h1.ui-title-page Исцеликс - инструкция по применению

          .row
            .col-lg-6.order-lg-last
              .section-main__figure
                img.img-fluid(src="assets/media/content/main-section/instruction.png" alt="фото")

            .col-lg-6
              .block-content.pr-md-5
                p
                  span.fw-semibold  Исцеликс
                  |
                  |  - инновационный препарат с двойным действием: очищает организм и ускоряет его восстановление. Исцеликс имеет широкий спектр действия и применятся для очищения орагнизма.
                p
                  span.fw-semibold  Исцеликс
                  |
                  |  обладает
                  span.fw-semibold  двойным
                  |
                  |  действием:
                  span.fw-semibold  очищает
                  |
                  |  организм и до трех раз ускоряет его восстановление!
                p
                  span.fw-semibold  Комплексное действие
                  |
                  |  основных компонентов Исцеликса за 7-10 дней применения,  способствует:
                ul.ui-list
                  li улучшению состояния кожи;
                  li ускорению метаболизма и снижению веса;
                  li улучшению самочувствия.
                p
                  span.fw-semibold  Здоровье
                  |
                  |  в твоих руках!



                +advanced-info()(class="advanced-info_mod-a")



    +b-scheme()

    +advanced-links-2()(class="mb-4")

    +b-istruction()

    +reviews-sm()

    +principle()

    +advanced()

    +info-section()
    +advanced-links-2()
