extends _template.pug

include ../components/nav-bar/nav-bar
include ../components/b-scheme/b-scheme

block head
  head
    +head(head.home)


//- block header
  +header('')


block content

  +nav-bar-product()

  .l-wrap_page-inner
    .bg-radius-bottom.bg-radius-bottom_up-null
      .container
        nav(aria-label="breadcrumb")
          ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
            li.breadcrumb-item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              a(href="#" itemprop="item")
                span(itemprop="name") Главная
              meta(itemprop="position" content="1")

            li.breadcrumb-item.active(aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              span(itemprop="name") Исцеликс для похудения
              meta(itemprop="position" content="2")


      .container
        section.section-main
          .row
            .col-xl-6.col-lg-8
              h1.ui-title-page Исцеликс для похудения

          .row
            .col-lg-6.order-lg-last
              .section-main__figure
                img.img-fluid(src="assets/media/content/main-section/losing.png" alt="фото")

            .col-lg-6
              .block-content.pr-md-5
                p
                  span.fw-semibold  Исцеликс
                  |
                  |  - инновационный препарат с двойным действием: очищает организм и ускоряет его восстановление. Исцеликс имеет широкий спектр действия и применятся для очищения орагнизма.
                p
                  span.fw-semibold  Исцеликс
                  |
                  |  обладает
                  span.fw-semibold  двойным
                  |
                  |  действием:
                  span.fw-semibold  очищает
                  |
                  |  организм и до трех раз ускоряет его восстановление!
                p
                  span.fw-semibold  Комплексное действие
                  |
                  |  основных компонентов Исцеликса за 7-10 дней применения,  способствует:
                ul.ui-list
                  li улучшению состояния кожи;
                  li ускорению метаболизма и снижению веса;
                  li улучшению самочувствия.
                p
                  span.fw-semibold  Здоровье
                  |
                  |  в твоих руках!


                +advanced-info()(class="advanced-info_mod-a")


    section.section-default.content-section
      .container
        .ui-title-wrap.ui-title-wrap_orange
          h2.ui-title Первый шаг к стройности
        p Исцеликс - инновационный препарат с двойным действием: очищает организм и ускоряет его восстановление.
        ul.ui-list
          li Сорбент выводит токсины, патогенные бактерии и аллергены.
          li Активные частицы до трех раз ускоряют обмен веществ для быстрого восстановления.
        p Исцеликс имеет широкий спектр действия и применятся для очищения орагнизма, улучшения состояния кожи лица, снижения веса и даже для предупреждения или избавления от похмельного синдрома!
        p Исцеликс обладает двойным действием: очищает организм и до трех раз ускоряет его восстановление!
        p Комплексное действие основных компонентов Исцеликса за 7-10 дней применения,  способствует:
        ul.ui-list
          li улучшению состояния кожи;
          li ускорению метаболизма и снижению веса;
          li улучшению самочувствия.
        p Здоровье в твоих руках!
        p Исцеликс - комплекс для похудения 2 в 1: подготавливает организм к похудению и ускоряет метаболизм.
        p Применение Исцеликса на протяжении 7-10 дней, совместно с диетой и умеренным физ.нагрузками, способствует:
        ul.ui-list
          li ускорению метаболизма и преодолению диетического плато (“встал вес”);
          li усилению энергетического потенциала и уменьшению чувства голода;
        p Сделай шаг к фигуре мечты!
        p Исцеликс позволяет предупредить похмельный синдром, а в случае его наличия – быстрее избавить организм от этого состояния.
        p Применение Исцеликса способствует:
        ul.ui-list
          li сорбции этанола и выведению продуктов распада алкоголя после их реабсорбции в кишечнике;
          li ускоренному восстановлению организма после наступления похмелья;
          li улучшению функций печени.
        p Утро будет добрым!
        p Исцеликс - инновационный препарат с двойным действием: очищает организм и ускоряет его восстановление.
        ul.ui-list
          li Сорбент выводит токсины, патогенные бактерии и аллергены.
          li Активные частицы до трех раз ускоряют обмен веществ для быстрого восстановления.
        p Исцеликс имеет широкий спектр действия и применятся для очищения орагнизма, улучшения состояния кожи лица, снижения веса и даже для предупреждения или избавления от похмельного синдрома!


    +advanced-links-2()(class="mb-4")

    +reviews-sm()

    section.section-default.content-section
      .container
        .ui-title-wrap.ui-title-wrap_orange
          h2.ui-title Схема приема

        .section-subtitle
          p Перед применением тщательно встряхнуть банку и размешать одну столовую ложку порошка с горкой в стакане воды, сока, другого любимого напитка.
        .nav.nav-tabs.ui-nav-tabs.ui-nav-tabs_second(role="tablist")
          a.ui-nav-tabs__link(href="#scheme-tab-1" data-toggle="tab") Очищение организма
          a.ui-nav-tabs__link.active(href="#scheme-tab-2" data-toggle="tab") Похудение
          a.ui-nav-tabs__link(href="#scheme-tab-3" data-toggle="tab") Похмелье

        .tab-content
          .tab-pane.show.fade#scheme-tab-1
            .b-scheme.row.no-gutters
              .b-scheme__item.col-xl
                .b-scheme__figure
                  .waves-effect
                    .waves-effect__block-1
                    .waves-effect__block-2
                    .waves-effect__block-3
                    .waves-effect__block-4
                  .b-scheme__img
                    img.img-scale(src="assets/media/content/scheme/1.png", alt="фото")

                .b-scheme__info Для курса в 7-10 дней понадобится
                  span.fw-medium  две банки
                  |
                  |  Исцеликса

              .b-scheme__item.col-xl
                .b-scheme__figure
                  .waves-effect
                    .waves-effect__block-1
                    .waves-effect__block-2
                    .waves-effect__block-3
                    .waves-effect__block-4
                  .b-scheme__img
                    img.img-scale(src="assets/media/content/scheme/2.png", alt="фото")

                .b-scheme__info Перед применением тщательно
                  span.fw-medium  встряхните
                  |
                  |  закрытую банку

              .b-scheme__item.col-xl
                .b-scheme__figure
                  .waves-effect
                    .waves-effect__block-1
                    .waves-effect__block-2
                    .waves-effect__block-3
                    .waves-effect__block-4
                  .b-scheme__img
                    img.img-scale(src="assets/media/content/scheme/3.png", alt="фото")

                .b-scheme__info
                  span.fw-medium  Размешайте
                  |
                  |   столовую ложку “с горкой” в стакане воды или сока

              .b-scheme__item.col-xl
                .b-scheme__figure
                  .waves-effect
                    .waves-effect__block-1
                    .waves-effect__block-2
                    .waves-effect__block-3
                    .waves-effect__block-4
                  .b-scheme__img
                    img.img-scale(src="assets/media/content/scheme/4.png", alt="фото")

                .b-scheme__info Принимайте
                  span.fw-medium  два раза в день,
                  |
                  |  за час до или после еды

              .b-scheme__item.col-xl
                .b-scheme__figure
                  .waves-effect
                    .waves-effect__block-1
                    .waves-effect__block-2
                    .waves-effect__block-3
                    .waves-effect__block-4
                  .b-scheme__img
                    img.img-scale(src="assets/media/content/scheme/5.png", alt="фото")

                .b-scheme__info Продолжительность приема
                  span.fw-medium  от 7 до 10 дней.
                  |
                  |  Курс можно повторить через
                  span.fw-medium   2-3 недели

          .tab-pane.show.fade.active#scheme-tab-2
            .b-scheme.row.no-gutters
              .b-scheme__item.col-xl
                .b-scheme__figure
                  .waves-effect
                    .waves-effect__block-1
                    .waves-effect__block-2
                    .waves-effect__block-3
                    .waves-effect__block-4
                  .b-scheme__img
                    img.img-scale(src="assets/media/content/scheme/1.png", alt="фото")

                .b-scheme__info Для курса в 7-10 дней понадобится
                  span.fw-medium  две банки
                  |
                  |  Исцеликса

              .b-scheme__item.col-xl
                .b-scheme__figure
                  .waves-effect
                    .waves-effect__block-1
                    .waves-effect__block-2
                    .waves-effect__block-3
                    .waves-effect__block-4
                  .b-scheme__img
                    img.img-scale(src="assets/media/content/scheme/2.png", alt="фото")

                .b-scheme__info Перед применением тщательно
                  span.fw-medium  встряхните
                  |
                  |  закрытую банку

              .b-scheme__item.col-xl
                .b-scheme__figure
                  .waves-effect
                    .waves-effect__block-1
                    .waves-effect__block-2
                    .waves-effect__block-3
                    .waves-effect__block-4
                  .b-scheme__img
                    img.img-scale(src="assets/media/content/scheme/3.png", alt="фото")

                .b-scheme__info
                  span.fw-medium  Размешайте
                  |
                  |   столовую ложку “с горкой” в стакане воды или сока

              .b-scheme__item.col-xl
                .b-scheme__figure
                  .waves-effect
                    .waves-effect__block-1
                    .waves-effect__block-2
                    .waves-effect__block-3
                    .waves-effect__block-4
                  .b-scheme__img
                    img.img-scale(src="assets/media/content/scheme/4.png", alt="фото")

                .b-scheme__info Принимайте
                  span.fw-medium  два раза в день,
                  |
                  |  за час до или после еды

              .b-scheme__item.col-xl
                .b-scheme__figure
                  .waves-effect
                    .waves-effect__block-1
                    .waves-effect__block-2
                    .waves-effect__block-3
                    .waves-effect__block-4
                  .b-scheme__img
                    img.img-scale(src="assets/media/content/scheme/5.png", alt="фото")

                .b-scheme__info Продолжительность приема
                  span.fw-medium  от 7 до 10 дней.
                  |
                  |  Курс можно повторить через
                  span.fw-medium   2-3 недели

          .tab-pane.show.fade#scheme-tab-3
            .b-scheme.row.no-gutters
              .b-scheme__item.col-xl
                .b-scheme__figure
                  .waves-effect
                    .waves-effect__block-1
                    .waves-effect__block-2
                    .waves-effect__block-3
                    .waves-effect__block-4
                  .b-scheme__img
                    img.img-scale(src="assets/media/content/scheme/1-3.png", alt="фото")

                .b-scheme__info Для профилактики или лечения похмелья понадобится
                  span.fw-medium  одна банка
                  |
                  |  Исцеликса

              .b-scheme__item.col-xl
                .b-scheme__figure
                  .waves-effect
                    .waves-effect__block-1
                    .waves-effect__block-2
                    .waves-effect__block-3
                    .waves-effect__block-4
                  .b-scheme__img
                    img.img-scale(src="assets/media/content/scheme/2.png", alt="фото")

                .b-scheme__info Перед применением тщательно
                  span.fw-medium  встряхните
                  |
                  |  закрытую банку

              .b-scheme__item.col-xl
                .b-scheme__figure
                  .waves-effect
                    .waves-effect__block-1
                    .waves-effect__block-2
                    .waves-effect__block-3
                    .waves-effect__block-4
                  .b-scheme__img
                    img.img-scale(src="assets/media/content/scheme/3.png", alt="фото")

                .b-scheme__info
                  span.fw-medium  Размешайте
                  |
                  |   столовую ложку “с горкой” в стакане воды или сока

              .b-scheme__item.col-xl
                .b-scheme__figure
                  .waves-effect
                    .waves-effect__block-1
                    .waves-effect__block-2
                    .waves-effect__block-3
                    .waves-effect__block-4
                  .b-scheme__img
                    img.img-scale(src="assets/media/content/scheme/4-3.png", alt="фото")

                .b-scheme__info Для
                  span.fw-medium  профилактики два раза:
                  |
                  |  перед застольем и перед сном.

              .b-scheme__item.col-xl
                .b-scheme__figure
                  .waves-effect
                    .waves-effect__block-1
                    .waves-effect__block-2
                    .waves-effect__block-3
                    .waves-effect__block-4
                  .b-scheme__img
                    img.img-scale(src="assets/media/content/scheme/5-3.png", alt="фото")

                .b-scheme__info Для
                  span.fw-medium  избавления три-четыре раза
                  |
                  |  каждые два часа.




    +principle()

    +advanced()

    +info-section()
    +advanced-links-2()
