extends _template.pug


block head
  head
    +head(head.home)


//- block header
  +header('')


block content

  +nav-bar-product()

  .l-wrap_page-user.bg-default
    .container
      nav(aria-label="breadcrumb")
        ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
          li.breadcrumb-item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
            a(href="#" itemprop="item")
              span(itemprop="name") Главная
            meta(itemprop="position" content="1")

          li.breadcrumb-item.active(aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
            span(itemprop="name") Текстовая страница
            meta(itemprop="position" content="2")


      article.user-content
        h1 Текстовая страница
        img(src="assets/media/content/user-content/1.jpg", alt="фото")
        p Исцеликс - инновационный препарат с двойным действием: очищает организм и ускоряет его восстановление.
        ul
          li Сорбент выводит токсины, патогенные бактерии и аллергены.
          li Активные частицы до трех раз ускоряют обмен веществ для быстрого восстановления.
        p Исцеликс имеет широкий спектр действия и применятся для очищения орагнизма, улучшения состояния кожи лица, снижения веса и даже для предупреждения или избавления от похмельного синдрома!
        p Исцеликс обладает двойным действием: очищает организм и до трех раз ускоряет его восстановление!
        p Комплексное действие основных компонентов Исцеликса за 7-10 дней применения,  способствует: улучшению состояния кожи; ускорению метаболизма и снижению веса; улучшению самочувствия.
        p Здоровье в твоих руках!
        p Исцеликс - комплекс для похудения 2 в 1: подготавливает организм к похудению и ускоряет метаболизм.
        p Применение Исцеликса на протяжении 7-10 дней, совместно с диетой и умеренным физ.нагрузками, способствует:
        ul
          li ускорению метаболизма и преодолению диетического плато (“встал вес”);
          li усилению энергетического потенциала и уменьшению чувства голода;
        p Сделай шаг к фигуре мечты!
        p Исцеликс позволяет предупредить похмельный синдром, а в случае его наличия – быстрее избавить организм от этого состояния.
        p Применение Исцеликса способствует:
        ul
          li сорбции этанола и выведению продуктов распада алкоголя после их реабсорбции в кишечнике;
          li ускоренному восстановлению организма после наступления похмелья;
          li улучшению функций печени.
        p Утро будет добрым!
        p Исцеликс - инновационный препарат с двойным действием: очищает организм и ускоряет его восстановление.
        ul
          li Сорбент выводит токсины, патогенные бактерии и аллергены.
          li Активные частицы до трех раз ускоряют обмен веществ для быстрого восстановления.
        p Исцеликс имеет широкий спектр действия и применятся для очищения орагнизма, улучшения состояния кожи лица
          |
          |
          a(href="#") Ссылка

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga,
          |
          |
          a.ui-link(href="#") Эту ссылку можно разместить в любой секции
          |
          |  accusamus nihil labore laborum aspernatur voluptates nostrum optio repellendus ab itaque vitae repudiandae error quia velit debitis asperiores sequi unde minus.

