extends _template.pug

include ../components/b-scheme/b-scheme

block head
  head
    +head(head.home)


//- block header
  +header('')


block content

  +nav-bar-product()

  .l-wrap_page-inner
    .bg-radius-bottom.bg-radius-bottom_up-null
      .container
        nav(aria-label="breadcrumb")
          ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
            li.breadcrumb-item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              a(href="#" itemprop="item")
                span(itemprop="name") Главная
              meta(itemprop="position" content="1")

            li.breadcrumb-item.active(aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              span(itemprop="name") Исцеликс для очищения организма
              meta(itemprop="position" content="2")


      .container
        section.section-main
          .row
            .col-xl-6.col-lg-8
              h1.ui-title-page Исцеликс для очищения организма

          .row
            .col-lg-6.order-lg-last
              .section-main__figure
                img.img-fluid(src="assets/media/content/main-section/purification.png" alt="фото")

            .col-lg-6
              .block-content.pr-md-5
                p
                  span.fw-semibold  Исцеликс
                  |
                  |  - инновационный препарат с двойным действием: очищает организм и ускоряет его восстановление. Исцеликс имеет широкий спектр действия и применятся для очищения орагнизма.
                p
                  span.fw-semibold  Исцеликс
                  |
                  |  обладает
                  span.fw-semibold  двойным
                  |
                  |  действием:
                  span.fw-semibold  очищает
                  |
                  |  организм и до трех раз ускоряет его восстановление!
                p
                  span.fw-semibold  Комплексное действие
                  |
                  |  основных компонентов Исцеликса за 7-10 дней применения,  способствует:
                ul.ui-list
                  li улучшению состояния кожи;
                  li ускорению метаболизма и снижению веса;
                  li улучшению самочувствия.
                p
                  span.fw-semibold  Здоровье
                  |
                  |  в твоих руках!


                +advanced-info()(class="advanced-info_mod-a")



    section.section-default.content-section
      .container
        .ui-title-wrap.ui-title-wrap_blue
          h2.ui-title Комлексная детоксикация
        p Исцеликс - инновационный препарат с двойным действием: очищает организм и ускоряет его восстановление.
        ul.ui-list
          li Сорбент выводит токсины, патогенные бактерии и аллергены.
          li Активные частицы до трех раз ускоряют обмен веществ для быстрого восстановления.
        p Исцеликс имеет широкий спектр действия и применятся для очищения орагнизма, улучшения состояния кожи лица, снижения веса и даже для предупреждения или избавления от похмельного синдрома!
        p Исцеликс обладает двойным действием: очищает организм и до трех раз ускоряет его восстановление!
        p Комплексное действие основных компонентов Исцеликса за 7-10 дней применения,  способствует:
        ul.ui-list
          li улучшению состояния кожи;
          li ускорению метаболизма и снижению веса;
          li улучшению самочувствия.
        p Здоровье в твоих руках!
        p Исцеликс - комплекс для похудения 2 в 1: подготавливает организм к похудению и ускоряет метаболизм.
        p Применение Исцеликса на протяжении 7-10 дней, совместно с диетой и умеренным физ.нагрузками, способствует:
        ul.ui-list
          li ускорению метаболизма и преодолению диетического плато (“встал вес”);
          li усилению энергетического потенциала и уменьшению чувства голода;
        p Сделай шаг к фигуре мечты!
        p Исцеликс позволяет предупредить похмельный синдром, а в случае его наличия – быстрее избавить организм от этого состояния.
        p Применение Исцеликса способствует:
        ul.ui-list
          li сорбции этанола и выведению продуктов распада алкоголя после их реабсорбции в кишечнике;
          li ускоренному восстановлению организма после наступления похмелья;
          li улучшению функций печени.
        p Утро будет добрым!
        p Исцеликс - инновационный препарат с двойным действием: очищает организм и ускоряет его восстановление.
        ul.ui-list
          li Сорбент выводит токсины, патогенные бактерии и аллергены.
          li Активные частицы до трех раз ускоряют обмен веществ для быстрого восстановления.
        p Исцеликс имеет широкий спектр действия и применятся для очищения орагнизма, улучшения состояния кожи лица, снижения веса и даже для предупреждения или избавления от похмельного синдрома!


    +advanced-links-2()(class="mb-4")

    +reviews-sm()

    +b-scheme()


    +principle()

    +advanced()

    +info-section()
    +advanced-links-2()
