.section-reviews {
  overflow-x: hidden;
}

.reviews{
  .cans{
    position: relative;
    img{
      position: absolute;
      &:first-child{
        top: 293px;
        left: -312px;
      }
      &:last-child{
        top: 70px;
        right: -310px;
      }
    }
  }

  &__item{
    margin: 0 auto;
    background: #FFFFFF;
    border: 1.08481px solid #F5F5F5;
    box-sizing: border-box;
    box-shadow: 0px 1.08481px 1.08481px rgba(0, 0, 0, 0.02), 0px 2.16961px 2.16961px rgba(0, 0, 0, 0.02), 0px 4.33923px 4.33923px rgba(0, 0, 0, 0.02), 0px 8.67845px 8.67845px rgba(0, 0, 0, 0.02);
    border-radius: 11px;
    overflow: hidden;
    a{
      background:  linear-gradient(90deg, #00B1EB 0%, #007AC1 49.47%, #0059A6 99.99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    img{
      width: 100%;
    }
  }
  &__container{
    padding: 22px 0px;
  }
  &__body{
    padding: 20px 15px 15px;
    @include media-breakpoint-up(lg){
      padding: 30px 50px 15px;
    }
  }
  &__author{
    display: flex;
  }
  &__ava{
    margin-right: 12px;
    flex: 0 0 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__text{
    margin-top: 15px;
    margin-bottom: 7px;
  }
  &__read-more{
    font-size: 15px;
  }
  &__dots{
    justify-content: center;
    display: flex;
    margin-top: 30px;
  }
  &__dot{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 35px;
    height: 35px;
    @include media-breakpoint-up(md){
      font-size: 26px;
      width: 65px;
      height: 65px;
    }
    &.dot-active{
      background: linear-gradient(90deg, #00B1EB 0%, #007AC1 49.47%, #0059A6 99.99%);
      border-radius: 50%;
      color: #fff;
      font-weight: bold;
      pointer-events: none;
    }
  }
  .slick-slide{
    height:auto;
  }

  .slick-dots li{
    width: auto;
    height: auto;
    margin: 0;
    color: #000;
    &.slick-active{
      background: linear-gradient(90deg, #00B1EB 0%, #007AC1 49.47%, #0059A6 99.99%);
      border-radius: 50%;
      color: #fff;
      font-weight: bold;
      pointer-events: none;
    }
    @media (hover: hover) {
      &:hover{
        color: #007AC1;
      }
    }
  }
  .slick-dots{
    position: static;
  }
}
