mixin reviews()

  <section class="content-section section-reviews">
    <div class="container">
      .ui-title-wrap.ui-title-wrap_blue
        h2.ui-title Отзывы
      <div class="section-subtitle">Исцеликс - это продукт, для создания которого, мы изучили отечественные и зарубежные исследования, провели десятки испытаний сырья и опытов в производстве. Мы создали препарат, который сам себя “продает”. Именно поэтому, отзывы, которые мы публикуем, взяты из независимых источников и Вы можете посмотреть их без “цензуры”.</div>

      <div class="reviews">
        <div class="cans d-none d-xl-block">
          <img src="assets/media/content/objectives/iscelix-2.jpg" alt="фото">
          <img src="assets/media/content/objectives/iscelix-1.jpg" alt="фото">
        </div>

        <div class="nav nav-tabs ui-nav-tabs" role="tablist">
          <a class="ui-nav-tabs__link active" href="#reviews-tab-1" data-toggle="tab" >Очищение организма </a>
          <a class="ui-nav-tabs__link"        href="#reviews-tab-2" data-toggle="tab" >Похудение</a>
          <a class="ui-nav-tabs__link"        href="#reviews-tab-3" data-toggle="tab" >Похмелье</a>
        </div>

        <div class="tab-content">
          <div class="tab-pane show fade active" id="reviews-tab-1" >
            <div class="row">
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            nav
              <!--php: TODO: Виводится до 7 линков пагинации - if($current-page >= 4 && $current-page <= page_count - 3) $current page index = 4. то есть текущая страница всегда будет по центру -->
              ul.pagination.justify-content-center
                li.page-item.active
                  a.page-link(href="#") 1
                li.page-item
                  a.page-link(href="#") 2
                li.page-item
                  a.page-link(href="#") 3
                li.page-item
                  a.page-link(href="#") 4
                li.page-item
                  a.page-link(href="#") 5
          </div>
          <div class="tab-pane fade"        id="reviews-tab-2" >
            <div class="row">
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="reviews__dots">
              <a href="/" class="reviews__dot"></a>
            </div>
          </div>
          <div class="tab-pane fade"        id="reviews-tab-3" >
            <div class="row">
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="reviews__dots">
              <a href="/" class="reviews__dot"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  // end .reviews


mixin reviews-sm()

  <section class="content-section section-reviews">
    <div class="container">
      .ui-title-wrap.ui-title-wrap_blue
        h2.ui-title Отзывы
      <div class="section-subtitle">Исцеликс - это продукт, для создания которого, мы изучили отечественные и зарубежные исследования, провели десятки испытаний сырья и опытов в производстве. Мы создали препарат, который сам себя “продает”. Именно поэтому, отзывы, которые мы публикуем, взяты из независимых источников и Вы можете посмотреть их без “цензуры”.</div>

      <div class="reviews">
        <div class="cans d-none d-xl-block">
          <img src="assets/media/content/objectives/iscelix-2.jpg" alt="фото">
          <img src="assets/media/content/objectives/iscelix-1.jpg" alt="фото">
        </div>

        <div class="nav nav-tabs ui-nav-tabs" role="tablist">
          <a class="ui-nav-tabs__link active" href="#reviews-tab-1" data-toggle="tab" >Очищение организма </a>
          <a class="ui-nav-tabs__link"        href="#reviews-tab-2" data-toggle="tab" >Похудение</a>
          <a class="ui-nav-tabs__link"        href="#reviews-tab-3" data-toggle="tab" >Похмелье</a>
        </div>

        <div class="tab-content">
          <div class="tab-pane show fade active" id="reviews-tab-1" >
            <div class="row">
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            nav
              <!--php: TODO: Виводится до 7 линков пагинации - if($current-page >= 4 && $current-page <= page_count - 3) $current page index = 4. то есть текущая страница всегда будет по центру -->
              ul.pagination.justify-content-center
                li.page-item.active
                  a.page-link(href="#") 1
                li.page-item
                  a.page-link(href="#") 2
                li.page-item
                  a.page-link(href="#") 3
                li.page-item
                  a.page-link(href="#") 4
                li.page-item
                  a.page-link(href="#") 5
          </div>
          <div class="tab-pane fade"        id="reviews-tab-2" >
            <div class="row">
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="reviews__dots">
              <a href="/" class="reviews__dot"></a>
            </div>
          </div>
          <div class="tab-pane fade"        id="reviews-tab-3" >
            <div class="row">
              <div class="col-lg-4 col-sm-6">
                <div class="reviews__container">
                  <div class="reviews__item">
                    <div class="reviews__head">
                      <img src="assets/media/content/objectives/slide-img.jpg" alt="" data-lazy="">
                    </div>
                    <div class="reviews__body">
                      <div class="reviews__author">
                        <div class="reviews__ava">
                          <img src="assets/media/content/objectives/user.jpg" alt="фото">
                        </div>
                        <div class="reviews__ava-info">
                          <div class="reviews__name">Дмитрий</div>
                          <div class="reviews__source">Источник: <a href="/">Instagram</a></div>
                        </div>
                      </div>
                      <div class="reviews__text">
                        <p>Применение Исцеликса при похудении способствует ускорению метаболизма. При соблюдении диеты и физических нагрузках, благодаря действию ....</p>
                      </div>
                      <a href="/" class="reviews__read-more">Читать весь отзыв</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="reviews__dots">
              <a href="/" class="reviews__dot"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  // end .reviews

