.footer{
  padding-top: 38px;
  padding-bottom: 50px;
  .container {
    padding-left: 0;
  }
  .social-links{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    @include media-breakpoint-up(sm) {
      margin-top: 0px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 32px;
    }
    a{
      width: 40px;
      line-height: 38px;
      border: 1px solid #F0F0F0;
      border-radius: 10px;
      color: #c4c4c4;
      margin-left: 5px;
      margin-right: 5px;
      text-align: center;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      .ic {
        fill: #C4C4C4;
      }
      rect{
        stroke: #f2f2f2;
      }
      &:hover{
        border-color: #00B1EB;
        color: #007AC1;
        .ic {
          fill: #00B1EB;
        }
        rect{
          stroke: #00B1EB;
        }
      }
    }
  }
  &__logo-col{
    @include media-breakpoint-up(xl) {
      max-width: 230px;
      width: 100%;
    }
  }
  &__nav-col{
    @include media-breakpoint-up(xl) {
      max-width: calc(100% - 230px);
      width: 100%;
    }
  }
  .nav-bar__buttons{
    margin-left: auto;
    margin-right: 11px;
  }
  .nav-bar__pages{
    margin-left: 14px;
    align-items: center;
    justify-content: flex-start;
    li{
      margin-left: 0;
      margin-right: 30px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &__info-block{
    display: flex;
    margin-top: 18px;
  }
  &__item{
    &--mail, &--tel{
      .text-label{
        color: #ababab;
      }
      a{
        color: #007AC1;
      }
    }
    &--mail{
      margin-left: 16px;
      margin-right: 50px;
    }
    &--tel{
      margin-right: 10px;
    }
    &--age{
      display: flex;
      align-items: center;
      .text-label{
        font-size: 12px;
        line-height: 15px;
        color: #BDBDBD;
        width: 84px;
        margin-right: 11px;
      }
      .text-val{
        font-weight: 900;
        font-size: 33px;
        line-height: 40px;
        color: #BBBBBB;
      }
    }
    &--useful-link{
      font-size: 14px;
      line-height: 17px;
      text-decoration-line: underline;
      color: #BDBDBD;
      margin: 10px 5px;

    }
    &--copyright{
      margin-left: -10px;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
      @include media-breakpoint-up(md) {
        margin-top: 0px;
      }
      @include media-breakpoint-up(xl) {
        margin-top: 32px;
      }
    }
    &--extra{
      padding-top: 19px;
      font-weight: 200;
      font-size: 22px;
      line-height: 1.8;
      text-align: center;
      text-transform: uppercase;
      color: #B8B8B8;
      @include media-breakpoint-up(xl) {
        font-size: 47px;
      }
      @include media-breakpoint-down(sm) {
        width: 290px;
        margin: auto;
      }
    }
  }
  &__useful-links{
    display: flex;
    align-content:center;
    margin-top: 2px;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    @include media-breakpoint-up(sm) {
      flex-direction: row;
      justify-content: space-between;
    }
    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
    }
  }
  &--product{
    .nav-bar__pages li{
      margin: 0 13px;
    }
  }
}
