mixin footer()
  <footer class="footer footer--main">
    <div class="container">
      <div class="row">
        <div class="col-xl-auto footer__logo-col col-12 ">
          <div class="row">
            <a href="/" class="col-xl-12 col-md-4 col-sm-6 d-flex justify-content-center">
              != pugHelpers.Icon.call(locals, {iconName: 'logo-footer', className: 'ic', iconWidth: '196', iconHeight: '35'})
            </a>
            <div class="social-links col-md-5 col-sm-6 col-xl-12 justify-content-center justify-content-md-between">
              <a href="/">
                != pugHelpers.Icon.call(locals, {iconName: 'vk', className: 'ic', iconWidth: '40', iconHeight: '41'})
              </a>
              <a href="/">
                != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'ic', iconWidth: '40', iconHeight: '41'})
              </a>
              <a href="/">
                != pugHelpers.Icon.call(locals, {iconName: 'OK', className: 'ic', iconWidth: '40', iconHeight: '41'})
              </a>
              <a href="/">
                != pugHelpers.Icon.call(locals, {iconName: 'telegram', className: 'ic', iconWidth: '40', iconHeight: '41'})
              </a>
            </div>
            <div class="footer__item footer__item--copyright col-12 col-md-3 col-xl-12">&copy; ООО "Живесса Фарм»</div>
          </div>
        </div>
        <div class="col-xl-auto footer__nav-col">
          <div class="d-xl-flex d-none">
            <ul class="nav-bar__pages">
              <li class="nav-bar__page">
                <a href="#">Об Исцеликсе</a>
              </li>
              <li class="nav-bar__page">
                <a href="#">Доставка и оплата</a>
              </li>
              <li class="nav-bar__page">
                <a href="#">Консультация</a>
              </li>
              <li class="nav-bar__page">
                <a href="#">Контакты</a>
              </li>
            </ul>
            <div class="nav-bar__buttons">
              <a href="/" class="btn btn-primary theme-btn theme-gradient-bg theme-radius theme-large theme-shadow">Вход</a>
              <a href="/" class="btn btn-default theme-btn theme-gradient-bg theme-radius theme-large theme-shadow">Регистрация</a>
            </div>
          </div>
          <div class="footer__info-block row no-gutters align-items-center align-items-lg-stretch">
            <div class="footer__item footer__item--mail d-none d-xl-block col-auto">
              <div class="text-label">Почта</div>
              <a href="mailto:info@isceliks.ru">info@isceliks.ru</a>
            </div>
            <div class="footer__item footer__item--tel d-none d-xl-block col-auto">
              <div class="text-label">Бесплатный звонок по России</div>
              <a href="tel:8 (800) 201 - 64 - 94">8 (800) 201 - 64 - 94</a>
            </div>
            <div class="footer__item footer__item--costs col-xl-auto col-sm-6 justify-content-center d-flex">
              <img src="assets/media/content/objectives/costs.png" alt="фото">
            </div>
            <div class="footer__item footer__item--age col-xl-auto col-sm-6 justify-content-center">
              <div class="text-label">Возрастное ограничение</div>
              <div class="text-val">14+</div>
            </div>
          </div>
          <div class="footer__useful-links d-xl-flex">
            <a href="/" class="footer__item footer__item--useful-link">Правила пользования сайтом</a>
            <a href="/" class="footer__item footer__item--useful-link">Правила использования cookie</a>
            <a href="/" class="footer__item footer__item--useful-link">Карта сайта</a>
            <a href="/" class="footer__item footer__item--useful-link">Персональный данные</a>
            <a href="/" class="footer__item footer__item--useful-link">Условия возврата</a>
          </div>
        </div>
      </div>
      <div class="footer__item footer__item--extra">Не является лекарственным средством</div>
    </div>
  </footer>

  // end .footer


mixin footer-product()

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xl-auto footer__logo-col col-12 ">

          <div class="row">
            <a href="/" class="col-xl-12 col-md-4 col-sm-6 d-flex justify-content-center">
              != pugHelpers.Icon.call(locals, {iconName: 'logo-footer', className: 'ic', iconWidth: '196', iconHeight: '35'})
            </a>
            <div class="social-links col-md-5 col-sm-6 col-xl-12 justify-content-center justify-content-md-between">
              <a href="/">
                != pugHelpers.Icon.call(locals, {iconName: 'vk', className: 'ic', iconWidth: '19', iconHeight: '12'})
              </a>
              <a href="/">
                != pugHelpers.Icon.call(locals, {iconName: 'instagram', className: 'ic', iconWidth: '21', iconHeight: '21'})
              </a>
              <a href="/">
                != pugHelpers.Icon.call(locals, {iconName: 'OK', className: 'ic', iconWidth: '14', iconHeight: '25'})
              </a>
              <a href="/">
                != pugHelpers.Icon.call(locals, {iconName: 'telegram', className: 'ic', iconWidth: '24', iconHeight: '21'})
              </a>
            </div>
            <div class="footer__item footer__item--copyright col-12 col-md-3 col-xl-12">&copy; ООО "Живесса Фарм»</div>
          </div>
        </div>

        <div class="col-xl-auto footer__nav-col">
          <div class="d-xl-flex d-none">
            <ul class="nav-bar__pages">
              <li class="nav-bar__page">
                <a href="#">Об Исцеликсе</a>
              </li>
              <li class="nav-bar__page">
                <a href="#">Отзывы</a>
              </li>
              <li class="nav-bar__page">
                <a href="#">Консультация</a>
              </li>
              <li class="nav-bar__page">
                <a href="#">Контакты</a>
              </li>
            </ul>

            <div class="nav-bar__buttons">
              a.btn.btn-primary.theme-btn.theme-gradient-bg.theme-radius.theme-large.theme-shadow(href="/")
                != pugHelpers.Icon.call(locals, {iconName: 'instruction', className: 'ic', iconWidth: '16', iconHeight: '10'})
                | Инструкция
              a.btn.btn-default.theme-btn.theme-gradient-bg.theme-radius.theme-large.theme-shadow(href="/")
                != pugHelpers.Icon.call(locals, {iconName: 'basket', className: 'ic', iconWidth: '18', iconHeight: '17'})
                | Купить
            </div>
          </div>

          <div class="footer__info-block row no-gutters align-items-center align-items-lg-stretch">
            <div class="footer__item footer__item--mail d-none d-xl-block col-auto">
              <div class="text-label">Почта</div>
              <a href="mailto:info@isceliks.ru">info@isceliks.ru</a>
            </div>
            <div class="footer__item footer__item--tel d-none d-xl-block col-auto">
              <div class="text-label">Бесплатный звонок по России</div>
              <a href="tel:88002016494">8 (800) 201 - 64 - 94</a>
            </div>
            <div class="footer__item footer__item--costs col-xl-auto col-sm-6 justify-content-center d-flex">
              <img src="assets/media/content/objectives/costs.png" alt="фото">
            </div>
            <div class="footer__item footer__item--age col-xl-auto col-sm-6 justify-content-center">
              <div class="text-label">Возрастное ограничение</div>
              <div class="text-val">14+</div>
            </div>
          </div>

          <div class="footer__useful-links d-xl-flex">
            <a href="/" class="footer__item footer__item--useful-link">Правила пользования сайтом</a>
            <a href="/" class="footer__item footer__item--useful-link">Правила использования cookie</a>
            <a href="/" class="footer__item footer__item--useful-link">Карта сайта</a>
            <a href="/" class="footer__item footer__item--useful-link">Персональный данные</a>
            <a href="/" class="footer__item footer__item--useful-link">Условия возврата</a>
          </div>
        </div>
      </div>

      <div class="footer__item footer__item--extra">Не является лекарственным средством</div>
    </div>
  </footer>

  // end .footer
