mixin advanced()

  <section class="content-section">
    <div class="container">
      .ui-title-wrap.ui-title-wrap_blue
        h2.ui-title Преимущества

      <div class="section-subtitle">
        p Исцеликс является уникальным продуктом, не имеющим аналогов.
        p Исцеликс производится из высококачественного сырья по технологии, которая позволяет объединить все компоненты в единое целое, повысив его сорбционные и метаболические свойства.
      </div>

      <div class="spider-type-section">
        <div class="row align-items-start">
          <div class="col-lg d-flex order-1 order-lg-0">
            <div class="spider-type-section__col text-center text-lg-left">
              <div class="spider-type-section__elem">
                .spider-type-section__img
                  <img class="img=fluid" src="assets/media/content/objectives/chem.png" alt="фото">
                <h4 class="spider-type-section__title">Двойное действие компонентов</h4>
                <p>Исцеликс объединяет в себе сорбент и комплекс метаболиков, что в 2-3 раза повышает эффективность его использования, по сравнению с монопродуктами.</p>
              </div>
              <div class="spider-type-section__elem">
                .spider-type-section__img
                  <img class="img=fluid" src="assets/media/content/objectives/cup.png" alt="фото">
                <h4 class="spider-type-section__title">Высокая биодоступность</h4>
                <p>Благодаря порошковой форме и отсутствию в составе добавок и консервантов, действие Исцеликса максимально, по сравнению с таблетками, капсулами и гелями.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-auto text-center order-0 order-lg-1 d-flex">
            <div class="block-thumbnail">
              <div class="waves-effect waves-effect--blue">
                <div class="waves-effect__block-1"></div>
                <div class="waves-effect__block-2"></div>
                <div class="waves-effect__block-3"></div>
                <div class="waves-effect__block-4"></div>
              </div>
              <img src="assets/media/content/objectives/iscelix.png" alt="фото">
            </div>
          </div>
          <div class="col-lg d-flex order-lg-2">
            <div class="spider-type-section__col text-center text-lg-right">
              <div class="spider-type-section__elem ">
                .spider-type-section__img
                  <img class="img=fluid" src="assets/media/content/objectives/labs.png" alt="фото">
                <h4 class="spider-type-section__title">Отработка<br> рецептуры</h4>
                <p>Проведены лабораторные исследования, в ходе которых мы нашли оптимальное сочетание компонентов, дозировки и технологии производства.</p>
              </div>

              <div class="spider-type-section__elem text-lg-right">
                .spider-type-section__img
                  <img class="img=fluid" src="assets/media/content/objectives/micro.png" alt="фото">
                <h4 class="spider-type-section__title">Качественное сырье</h4>
                <p>Используем сырье высокого качества и проверенных поставщиков из Германии, Франции и Италии.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  // end .advanced
