.advanced-info {
  padding-top: 8px;
  &__block {
    display: flex;
    margin-bottom: 30px;
  }
  &__item {
    margin-top: 15px;
    &:first-child {
      padding-right: 10px;
      flex: 0 0 55%;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 170%;
    padding-left: 23px;
  }

  &_mod-a {
    margin-right: -110px;
  }

  @include media-breakpoint-up(lg) {
    &__block {
      margin-bottom: 0px;
    }
  }

  @include media-breakpoint-down(md) {
    &_mod-a {
      margin-right: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    &__block {
      display: block;
    }
    &_mod-a {
      margin-right: 0;
    }
  }
}
