mixin advanced-info()

  .advanced-info(class!=attributes.class)
    .advanced-info__block
      .advanced-info__item.d-flex.align-items-center
        .advanced-info__icon
          != pugHelpers.Icon.call(locals, {iconName: 'state_register', className: 'ic', iconWidth: '53', iconHeight: '67'})
        .advanced-info__text.advanced-info__text--1 Свидетельство государственной регистрации №&nbsp;000000000000000000 от&nbsp;01&nbsp;января 2019&nbsp;года

      .advanced-info__item.d-flex.align-items-center
        .advanced-info__icon
          != pugHelpers.Icon.call(locals, {iconName: 'state_iso', className: 'ic', iconWidth: '75', iconHeight: '76'})
        .advanced-info__text.advanced-info__text--2 Изготовлено по стандарту качества ISO 22000:2005

  // end .advanced-info
